{% extends "pages/main.html"%}

{%block title%}Weelow - {{billboard.name}}{%endblock title%}

{%block content%}


<body>

<div id="id-billboard-page-box" class="billboard-page-box">

	<div class="billboard-page-box-cover" class="billboard-item-image" style="background-image:url('{{MEDIA_URL}}{{billboard.thumbnail_image}}')">
	</div>	

	<div>
		<a id="id-billboard-publish" class="billboard-page-box-publish active-loader" href = "{% url 'post-send' billboard.slug%}"><p>PUBLISH</p></a>
	</div>

	<div class="billboard-page-box-title" >
		<!--<div class="billboard-page-box-title-bg"  style="background-image:url('{{MEDIA_URL}}{{billboard.thumbnail_image}}');  background-position: top right; background-size: auto 125%;" ></div>-->				
		<p> <span>{{billboard.name}} :</span>
		{{billboard.description}}</p>
	</div>	

	<img class="billboard-page-box-title-bg" src="{{MEDIA_URL}}{{billboard.thumbnail_image}}" > 				
	<div class="mobile-billboard-page-box-title-btn">
		<i class=".mobile-billboard-page-box-title-btn glyphicon glyphicon-minus" aria-hidden="true"></i>
	</div>				

	<div class="mobile-billboard-page-box-title">
		<p> <span>{{billboard.name}} :</span>
		{{billboard.description}}</p>
	</div>

	<div class="billboard-page-box-signature"><p>&copy Weelow Billboard</p></div>		
</div>

<div class="help-on-swipe-right"><p>Swipe Right to PICK</p></div>

{% url 'index' billboard.slug as index_url %}
{% url 'index_now' billboard.slug as index_now_url %}

<div class= "mobile-navbar-bottom">
    <!--<a href="{% url 'post-send' billboard.slug%}" class = "mobile-navbar-bottom-billboard-publish">
	    <p>PUBLISH HERE</p>
    </a>-->
    <div class="grid-icon">
    	<div class="grid-square-icon top changed"><div class="left"></div><div class="right"></div></div>
    	<div class="grid-square-icon middle changed"><div class="left"></div><div class="right"></div></div>
    	<div class="grid-square-icon bottom changed"><div class="left"></div><div class="right"></div></div>
    </div>
 	
 	{% if request.get_full_path == index_url %}
    <a href="{% url 'index_now' billboard.slug%}" class="mobile-infin-btn active-sortby-loader">
    	<div id="mobile-infinity"></div>
    </a>
   	{% endif %}

   	{% if request.get_full_path == index_now_url %}
    <a href="{% url 'index' billboard.slug%}" class="mobile-infin-btn active-sortby-loader">
    	<div id="mobile-infinity"></div>
    </a>
   	{% endif %}

    <a href="{% url 'post-send' billboard.slug%}" class="mobile-publish-btn active-loader">
    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>
    <!--
    {#<a href="{% url 'profile' user.username %}" class="mobile-profile-btn">#}
    {#	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>#}
    {#</a>#}
-->


 </div>


{% if request.get_full_path == index_url %}
<a id="id-sortby-ppt" href="{% url 'index_now' billboard.slug%}" class="sortby-ppt-btn bottom-navbar active-sortby-loader" title="sort by time">
<p>&infin;</p>
</a>
{% endif %}

{% if request.get_full_path == index_now_url %}
<a id="id-sortby-helium" href="{% url 'index' billboard.slug%}" class="sortby-helium-btn bottom-navbar active-sortby-loader" title="sort by popularity">
<p>&infin;</p>
</a>
{% endif %}



<div class="loader-bg-sortby">
	<div class="loader-animation-sortby"><div id="infinity"></div></div>
</div>
 
<div class="masonry">

	<!--<div class="grid-sizer"></div>-->

	{% include "features/pagination.html" %}

	{% if latest_question_list %}
	{% for Post in latest_question_list%}
	{% include "features/_post_billboard_feeds.html" %}
	{% endfor %}

  
</div>

{% else %}
<div class="no-post-available"><img src="{{ STATIC_URL }}logos/weeloon-no-face.png"></div>
{% endif %}


</body>

{% endblock content %}


