{% extends "pages/main.html"%}

{%load cache %}

{%block title%}Weelow - the agenda for artists{%endblock title%}

{%block content%}


<body>

<div class="billboards-header">
	<div class="billboards-header-title">		
		<p class="title-one">the Agenda for Artists</p>
		<!--<p class="title-two">enter text</p>-->
	</div>
</div>

<div class="billboards-layout">	
	
	{% include "features/pagination.html" %}	

	{% if billboards %}
	{% for billboard in billboards %}	
	{% include "features/_billboard.html" %}	
	{% endfor %}
	
</div>
{% else %}

{% endif %}


</body>

{% endblock content %}


