<!--Weelow © copyright, all rights reserved-->
{% load google_analytics %}
{% load clicky %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Weelow is a visual tool that allows artists to share their agenda" />
<title>{%block title%}Weelow - the agenda for artists{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="{{ STATIC_URL }}logos/icon/weelow-icon-l.png" />

<!--Weelow icons-->
<link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}logos/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}logos/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}logos/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}logos/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}logos/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}logos/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}logos/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}logos/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}logos/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}logos/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}logos/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}logos/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}logos/icon/favicon-16x16.png">
<!--Weelow icons STOP-->

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">-->
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock css %}

{% block headjs %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>-->
<script type="text/javascript">docReady(function(){var container=$('.masonry');container.masonry({columnWidth:240,isFitWidth:true,gutter:10,itemSelector:'.item'})});</script>
{% endblock headjs%}

 <!-- Start Visual Website Optimizer Asynchronous Code -->
<script type='text/javascript'>
var _vwo_code=(function(){
var account_id=149288,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
// DO NOT EDIT BELOW THIS LINE
f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
</script>
<!-- End Visual Website Optimizer Asynchronous Code -->	
</head>

<body>
{%block navbar%}
{% include "pages/navbar.html" %}
{%endblock navbar%}


<div id="content">

{%block content%}{% endblock content%}

</div>


</body>
{% block footjs %}
<!-- Post & Billboard js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.0b2.120519/jquery.infinitescroll.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>-->
<script src="{{ STATIC_URL }}js/billboards.js"></script>
<script src="{{ STATIC_URL }}js/item.js"></script>

<!-- enable only swipe event for jquery mobile.js-->
<script type="text/javascript">$(document).bind("mobileinit", function(){$.extend(  $.mobile , {autoInitializePage: false})});</script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="{{ STATIC_URL }}js/nav-menu.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/modernizr.js"></script>-->

<script type="text/javascript" src="{{ STATIC_URL }}js/csrf_token.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pickandpop.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>-->

<script src="{{ STATIC_URL }}js/jquery.bootstrap-autohidingnavbar.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bootstrap-autohidingbottomnavbar.min.js"></script>

<link href="{{ STATIC_URL }}css/animation.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/body.js"></script>

<script type="text/javascript">
if (document.location.hostname.search("weelow.com") !== -1) {

      var _gaq = _gaq || [];
      var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-57430583-2']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

 }
</script>

{% clicky %}

{% endblock footjs %}
</html>





