{% load avatar_tags %}

<!--Weelow © copyright, all rights reserved-->

<!--Weelow Navbar-->

<div class="weelow-navbar">
  
  <a href = "javascript:history.back()" class="weelow-navbar-back-btn active-loader">         
    <span class=" glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  
<div class="weelow-navbar-logo"> <a href="{% url 'billboards' %}" class="active-loader"><img src="{{ STATIC_URL }}logos/weelow-navbar-logo.png"></a></div>
<div class="nav-menu-btn">	
  <div class='wrapper'>
    <p class="nav-menu-btn-text">MENU</p>
    <ul class='hamburger'>
      <li class='first'></li>
      <li class='second'></li>
      <li class='third'></li>
    </ul>
  </div>
</div>
</div>

<!--Weelow Menu-->

<div class="nav-menu-outside-exit" style="display:none;"></div>
<div class="nav-menu-enable"></div>

<div class="nav-menu" style="display:none;">
	<div class="nav-menu-inner">

    <div class="nav-menu-white-block"></div>

    {% if user.is_authenticated %}

    {%block user_authenticated %}

    <div class="nav-menu-profile">
      <a href="{% url 'profile' user.username %}"class="nav-menu-profile-pic active-loader" style="background:url('{% avatar_url user 150 %}'); background-size: cover ; background-position: center; background-repeat: no-repeat;"></a>
    </div>

		 <ul>
     <a href="{% url 'profile' user.username %}" class="active-loader"><li>My Picks</li></a> 

    {%endblock user_authenticated %}

      {%else %}

     {%block user_not_authenticated %} 

    <div class="nav-menu-profile">
      <a href="{% url 'login' %}"class="nav-menu-profile-pic active-loader"><p>LOGIN</p></a>
    </div>
      
    <ul>
     <a href="{% url 'register' %}" class="active-loader"><li>Register</li></a>     
     {%endblock user_not_authenticated %}  

    {% endif %}
    
		 <a href="{% url 'billboards' %}" class="active-loader"><li>Billboards</li></a>

     {% if user.is_authenticated %}
     <a target="_blank" href="https://docs.google.com/forms/d/1DEmTKX-sSduzOBX51RzNRKYFW6xaNbCwCRWEl2FkaHA/viewform?usp=send_form">
     <li>Request Billboard</li>
     </a>       
     <!--{#<a href="{% url 'send-billboard' %}"><li>New Billboard</li></a>#}-->
     {% endif %}

     <a href="mailto:?subject=Join Weelow!
     &Body=Hey, try weelow.com! It's an amazing experience. Click on this link: http://weelow.com
     %0A%0ASee you on Weelow">
     <li>Invite Friends</li>
     </a>  

     <a href="http://about.weelow.com/help.html" class="active-loader"><li>Help</li></a>
		 <a href="http://about.weelow.com" class="active-loader"><li>About Weelow</li></a>
		</ul>
    <div class="nav-menu-white-line top"></div> 
    <div class="nav-menu-socialmedia-box">
        <a target="_blank" href="https://twitter.com/weelowapp" class="nav-menu-socialmedia-icon active-loader"> <img src="{{ STATIC_URL }}logos/follow/twitter-icon-by_dreamstale.png"> </a>
        <a target="_blank" href="https://www.facebook.com/weelowapp" class="nav-menu-socialmedia-icon active-loader"> <img src="{{ STATIC_URL }}logos/follow/facebook-icon-by_dreamstale.png"> </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCl5LCqXZrTgwFOSFphbSt4g" class="nav-menu-socialmedia-icon active-loader"> <img src="{{ STATIC_URL }}logos/follow/youtube-icon-by_dreamstale.png"> </a>
        <a target="_blank" href="http://instagram.com/weelowapp" class="nav-menu-socialmedia-icon active-loader"> <img src="{{ STATIC_URL }}logos/follow/instagram-icon-by_dreamstale.png"> </a>   
    </div>
    <div class="nav-menu-white-line down"></div> 

    <div class="nav-menu-copyright-box"><p>&copy 2015 Weelow.com, all rights reserved</p></div>
    <!--<div class="nav-menu-copyright-box"><p>Exclusively for Stanford University</p></div>  
    <img class="stanford-logo-menu"src="{{ STATIC_URL }}logos/stanford-logo-menu.png">-->    
	</div>
</div>


<!--Active Loader Animation-->

<div class="loader-bg">
  <div class="loader-animation left"></div>
  <div class="loader-animation right"></div>
</div>

<!--Weelow Modal Help Box
<a href="#help-box" data-toggle="modal"><li>Help</li></a>

<div class = " modal fade" id = "help-box" role = "dialog">
  <a href="#close" class = "btn" data-dismiss = "modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> 
    <div class = "modal-dialog modal-help-box" >  
      <div class="help-box-illustration"><img src="{{ STATIC_URL }}logos/help_box/help-box-illustration.png"></div>
      <div class="mobile-help-box-illustration"><img src="{{ STATIC_URL }}logos/help_box/mobile-help-box-illustration.png"></div>
     
      <div class="help-box-swipe-illustration"><img src="{{ STATIC_URL }}logos/help_box/help-box-swipe-illustration.png"></div>  
      <div class="mobile-help-box-swipe-illustration"><img src="{{ STATIC_URL }}logos/help_box/mobile-help-box-swipe-illustration.png"></div> 
  </div>
</div>  
-->
