{% extends "pages/main.html"%}
{%load avatar_tags %}

{%block title%}{{ user.username }} on Weelow{%endblock title%}

{%block content%}

<body>

		<div class="profile-bar">

			<div class="profile-bar-name">

			<p>Hi {{ user.username }} !</p>

			</div>

			<a id="id-profile-pic" href="{% url 'avatar_profile' user.username %}" class="active-loader">
				<div class="profile-bar-pic" style="background:url('{% avatar_url user 150 %}'); background-size: cover ; background-repeat: no-repeat; background-position: center;">
					<div class="profile-bar-pic-edit">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</div>
				</div>

			</a>

			<div class="profile-bar-settings">
				<div class="profile-bar-settings-btn">
					<div class='profile-bar-settings-rotation'>
      					<div class='settings-logo'>
      						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      					</div>
      				</div>
      			</div>

				<div class="profile-bar-settings-menu" style="display:none;">
					<ul>
						<a href="{% url 'avatar_profile' user.username %}" class="active-loader"><li>Edit Profile</li></a>
						<a href="http://about.weelow.com" class="active-loader"><li>About Weelow</li></a>
						<a href="{% url 'logout' user.username %}" class="active-loader"><li>Logout</li></a>						
					</ul>
				</div>
			</div>		
		</div>

	{% if not user.is_active%}
		<div class="profile-bar-email-confirmation">Please confirm your email address !</div>
	{% endif%}

	<a href="{% url 'post-send-profile'  user.username%}" class="sidebar active-loader">up to something ?</a>

	<!--<div class= "mobile-navbar-bottom">
	    <a href="{% url 'post-send-profile'  user.username%}" class= "mobile-navbar-bottom-billboard-publish active-loader">
		    <p>up to something ?</p>
	    </a>
	</div>-->


	<div class="masonry">

		{% include "features/pagination.html" %}

		{% if profile_list %}
		{% for Post in profile_list %}
		{% include "features/_post.html" %}
		{% endfor %}
		
	</div>


	{% else %}
	<div class="no-post-available"><img src="{{ STATIC_URL }}logos/weeloon-no-face.png"></div>
	{% endif %} 

	


</body>

{% endblock content %}

