{% extends "pages/main.html"%}

{%load cache %}
{%load avatar_tags %}

{%block title%} {{username}} on Weelow {%endblock title%}


{%block content%}

<body class="profile-background">

	<div class="profile-bar">

		<div class="profile-bar-name">

		<p>  {{username}} </p>

		</div>

		<div id="id-visitor-profile-pic" class="profile-bar-pic" style="background:url('{% avatar_url username 150 %}'); background-size: cover ; background-repeat: no-repeat; background-position: center;"></div>
			
		<!--<div class="profile-bar-weecoin"><img src="{{ STATIC_URL }}logos/weecoin.png"><div class="profile-bar-weecoin name">&nbsp;{{ profile.weecoin }}</div></div>-->

	</div>

	<div class="masonry">

		{% if visitor_profile_list %}
		{% for Post in visitor_profile_list %}
		{% include "features/_post.html" %}
		{% endfor %}

		{% include "features/pagination.html" %}
	</div>

	

	{% else %}
	<div class="no-post-available"><img src="{{ STATIC_URL }}logos/weeloon-no-face.png"></div>
	{% endif %} 
</body>
{% endblock content %}

