{% extends "login/base.html" %}

{% block title %}{{ title }}  {{ Weelow|default:_('Weelow') }}{% endblock %}

{% block branding %}
{#<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Weelow') }}</a></h1>#}
{% endblock %}

{% block nav-global %}{% endblock %}
