{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}e-mail validated{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<div class="login-text-box">
<h1>{% trans "Your e-mail is validated, thank you!" %}</h1>
</div>
<div class="form-row">
<a href= "{% url 'billboards' %}"><input type="submit" value="{% trans 'GO AHEAD' %}"/></a>
</div>
{% endblock %}

