{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<p>{% trans "Your link has expired, Please resend an e-mail." %}</p>

<p><a href= "{% url 'post:index' %}"><input type="submit" value="{% trans 'Go ahead' %}"/></a></p>

{% endblock %}

