{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}confirm e-mail{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="login-text-box">

<h1>{% trans "Please confirm your email!" %}</h1>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>


<div class="form-row">
{#<a href= "{% url 'billboards' %}"><input type="submit" value="{% trans 'GO AHEAD' %}"/></a>#}
</div>
{% endblock %}

