{% extends "login/base_site.html" %}

{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}f

{% block nav-global %}{% endblock %}

<title>{% block title %}login on Weelow{% endblock %}</title>

{% block breadcrumbs %}{% endblock %}
{% block welcome-msg %}{% endblock %}
{% block userlinks %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
  {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form" autocomplete="off">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    <!--<label for="id_username" class="required">{{ form.username.label }}:</label>--> {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    <!--<label for="id_password" class="required">{% trans 'Password:' %}</label>-->   {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}"  />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  
  <div class="password-reset-link">
    <a href="{% url 'password_reset' %}">Forgotten your password or username?</a>
  </div>

   <div class="submit-row">
    <!-- <label>&nbsp;</label>--><input lass="active-loader" type="submit" value="ENTER WEELOW" />
   </div>

   <div class="submit-row">
    <input class="active-loader" type="button" value="REGISTER" onClick="javascript:location.href = '{% url 'register' %}';">
  </div>
  
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>



</div>

{% endblock %}