{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}<div class="login-title-box"><h1>{{ title }}</h1></div>{% endblock %}
{% block content %}
<div class="login-text-box">

{% if validlink %}

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide">{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide">{{ form.new_password2 }}</p>

<p><input type="submit" value="{% trans 'CHANGE PASSWORD' %}" /></p>

</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

</div>

{% endblock %}
