{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block content_title %}<h1 class="login-title-box">{{ title }}</h1>{% endblock %}
{% block content %}
<div class="login-text-box">

<p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>
{% endblock %}
