{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<div class="login-title-box"><h1>{{ title }}!</h1></div>{% endblock %}

{% block content %}
<div class="login-text-box">

{# <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p> #}

<a href="{{ login_url }}"><input type="submit" value="{% trans 'LOG IN' %}"/></a>
</div>
{% endblock %}
