{% extends "login/login.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1></h1>{% endblock %}
{% block content %}
<div id="content-main">
<form action="" method="post">
	<div class="form-row">
		{{ form.email }}
		{{ form.email.errors }}
	</div>
	<input type="submit" value="{% trans 'RESET PASSWORD' %}" />

	{% csrf_token %}
</form>
<a href="{% url 'login' %}"><input type="button" value="{% trans 'CANCEL' %}"/></a>
</div>
{% endblock %}
