{% extends "pages/main.html"%}

{%block title%}register on Weelow{%endblock title%}

{% block css %}{% endblock css %}

{% block navbar %}{% endblock navbar %}

{%block content%}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
<body class="login">

<!--<h1>Create an account</h1>-->
<!--{{ form.as_p }}
<div class="login-bg-box">
   <div class="login-bg-image"></div>
</div>-->
<div class="video">
<div class="video-cover"></div>
<video  autoplay loop muted src="{{ MEDIA_URL }}video/ny.mp4" type="video/mp4" poster >    
</video>
</div>
<div id="header">
 <div id="branding">
 </div>
</div>
<div class="about-link"> <a target="_blank" href="http://about.weelow.com">About Weelow</a></div>
<div id="container">
<a  href="{% url 'billboards' %}"><div class="logo-weelow active-loader"></div></a>
<div class="logo-title">the agenda for artists</div>
<div id="content" class="colM	">
<div id="content-main">
  <form action="" enctype="multipart/form-data" method="post" id="login-form">
	  	<div class="form-row">
	      {{ form.email }}
	      {{ form.email.errors }}
	    </div>
	    <div class="form-row">
	      {{ form.username }}
	      {{ form.username.errors }}
	    </div>
	    <div class="form-row">
	      {{ form.password1}}
	      {{ form.password1.errors }}
	    </div>
	    <div class="form-row">
	      {{ form.password2}}
	      {{ form.password2.errors }}
	    </div>
      	<input class="active-loader" type="submit" value="CREATE MY ACCOUNT">
      	<a href="{% url 'login' %}"><input class="active-loader" type="button" value="LOGIN" onclick="window.location='/i/login';"></a>
      	
  {% csrf_token %}
  </form>
 </div>
 </div>
 </div>

</body>
{% endblock content %}
