{% extends "pages/main.html" %}
{% load i18n avatar_tags %}
{% load url from future %}
{%block title%}Edit Profil{%endblock title%}

{% block content %}
    <div class="profile-avatar">

        <a href = "{% url 'profile' user.username %}" class="active-loader" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

        <div class="profile-avatar-item">
            <p>{% trans "Your current avatar: " %}</p>
            {% avatar user %}
            <!--<div class="profile-avatar-pic" style="background:url('{% avatar_url user %}'); background-size: cover ; background-repeat: no-repeat; background-position: center; background-position:center;"></div>-->     
            {% if not avatars %}
                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
            {% endif %}
            <form enctype="multipart/form-data" method="POST" action="">
                {{ upload_avatar_form.as_p }}
                <!--<div id="new-profile-pic">{{ upload_avatar_form.as_p }}</div>-->
                <p>{% csrf_token %} <div class="upload-avatar"><input type="submit" value="{% trans "UPLOAD MY AVATAR" %}" /></div> </p>
            </form>
        </div>            
    </div>
{% endblock %}


