<!--Weelow © copyright, all rights reserved-->
    
    <div class="billboard-item">

    {%block billboard_media %}
      <a id="id-billboard-item-media" class="billboard-item-media active-loader" href="{% url 'index' billboard.billboard.slug%}">

          <div class="billboard-loader" style="z-index:-1;">            
          </div>          

          <div class="billboard-item-media-bg-color"></div>

          
          <div class="billboard-item-media-bg" style="background-image:url('{{MEDIA_URL}}{{billboard.billboard.thumbnail_image}}'); background-size: cover ;  background-position: center; background-size: 100% 100%;"></div>
          
       
          <div class="billboard-item-media-post-box">

            
            {% for Post in billboard.posts|dictsort:"pop_date" %}
            {% include "features/_post_billboard.html" %}
            {% endfor %}

          </div>       
      
      </a> 

    {%endblock billboard_media %}

    {%block billboard_info %}
     
      <div class="billboard-item-info">

        <div class="billboard-item-info-title-bg"  style="background-image:url('{{MEDIA_URL}}{{billboard.billboard.thumbnail_image}}'); background-position: bottom; background-size: 100% auto ; "></div> 
       
        <div>
        <a id="id-billboard-title" href="{% url 'index' billboard.billboard.slug%}" class="billboard-item-info-title active-loader">
        
          <p>{{billboard.billboard.name}}</p>
        </a>
        </div>
            
      </div>   

    {%endblock billboard_info %}

    </div>
