{% extends "pages/main.html"%}
{%load cache %}
{%block title%}Ready to Fly{%endblock title%}

{%block content%}
        
 <form action="" enctype="multipart/form-data" method="POST"class="post-form" id="post-form">
   {% csrf_token %}

   {{ form.name }}

   {{ form.description }}        

   image:{{ form.thumbnail_image }}
   {{ form.thumbnail_image.errors }} 

   video:{{ form.video }}

   gif:{{ form.gif }}

   <button type="submit" class="save">upload billboard</button>       

   <div id="images"></div>              
  </form>        
     
  <div id="files" class="files"></div>
  <script src="{{ STATIC_URL }}js/upload.js"></script>
{%endblock content%}


