{% extends "pages/main.html"%}
{%load cache %}
{%block title%}Send Post{%endblock title%}

{%block content%}
  <!--
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  -->

  <!--enctype="multipart/form-data "allows to add images "No characters are encoded. 
  This value is required when you are using forms that have a file upload control" -->

  <div class="container">


    <div class="new-post">


      <a target="_blank" href = "http://about.weelow.com/help.html#help-send-post" class="new-post-help-box active-loader"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>

      {% if form.thumbnail_image.errors %}      
      <div class="required error-image-box">*</div>
      <div class="required error-image-box-text">Add a picture. You should always see your picture on this box</div>
      {% endif %}

      {% if form.pop_date.errors %}
      <div class="required error-time-input-box">*</div>
      <div class="required error-time-input-box-text">Type a coorect expiry date: i.e. December 25 7pm or Dec 25 (default time is 11:59pm) or 12/25/2015 </div>
      {% endif %}

      {% if form.description.errors %}
      <div class="required error-description-input-box">*</div>
      <div class="required error-description-input-box-text"> Type a description, max 240 characters. Be sure to remove all line jumps, specially when pasting in the description box</div>
      {% endif %}    

      <div class="new-post-image"> 

      <form action="" enctype="multipart/form-data" method="POST"class="post-form" id="post-form">
              {% csrf_token %}
         


          <div id="new-item-image">            
            {{ form.thumbnail_image }}
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
          </div>
          
          <div class="image"></div>

          <div id="images"></div>          

          <div class="new-popping-time">
            <div class="popping-time">{{ form.pop_date }}</div>
          </div>
          
          <div class="new-post-bubble-btn">
            <button type="button" class="btn btn-default"> Description & url</button>
            <script>
                $(".btn-default").click(function () {
                    $(this).text(function(i, v){
                       return v === ' Description & url' ? '* Add Picture' : ' Description & url'
                    })
                });
            </script>
          </div>          
        

          <div class="new-post-bubble" style="display:none;">
            <div class="new-post-bubble-description">
              <p>{{ form.description}}</p>
            </div>
           
            <div class="new-post-bubble-description-url">
              <span class="glyphicon glyphicon-link bubble-chevron-description-url" aria-hidden="true"></span> 
              <div class="description-url link">                
                {{ form.url }}
              </div>               
            </div> 

            <div class="new-post-line middle"></div>

            <div class="api-box">
              <p class="api-box-text">Select a Sound or Video</p>
              <div class="api-box-soundcloud-icon"><div class="icon-selector"></div></div>
              <div class="api-box-vimeo-icon"></div>
              <div class="api-box-youtube-icon"></div>

              <div class="api-url-box soundcloud" style="display:none">
                <p>{{ form.url_soundcloud }}</p>
              </div>

              <div class="api-url-box video" style="display:none">
                <p>{{ form.url_video }}</p>
              </div>

             
            </div>

            <div class="new-post-line bottom"></div>

            <script>
              $(document).ready(function(){
                $(".api-box-soundcloud-icon").click(function(){
                  $(".api-box-soundcloud-icon").toggleClass('clicked');
                  $(".api-url-box.soundcloud").toggle();
                  $(".api-url-box.video").hide();                  
                  $(".api-box-vimeo-icon, .api-box-youtube-icon").removeClass('clicked');
                  $(this).closest('.api-box').find(".api-box-text").hide();               
                });

                $(".api-box-vimeo-icon, .api-box-youtube-icon").click(function(){
                  $(".api-box-vimeo-icon, .api-box-youtube-icon").toggleClass('clicked');
                  $(".api-url-box.video").toggle();
                  $(".api-url-box.soundcloud").hide();                  
                  $(".api-box-soundcloud-icon").removeClass('clicked');
                  $(this).closest('.api-box').find(".api-box-text").hide(); 

                });
                     
              });
          </script>


          </div>


          <div class="send-btn">
            <div class="post-btn"><button type="submit" class="save btn btn-default active-loader">SEND</button>
            </div>
          </div>
          
          <script>
              $(document).ready(function(){
                $(".new-post-bubble-btn").click(function(){
                  $(".new-post-bubble").toggle("slide", {"direction":"down"});
                });
              });
          </script>
        </form>

      </div>
      
      <a href = "javascript:history.back()" class="active-loader"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      
    </div>   
  </div>

  <!--
  ADD dhref = "#new-post-help-box" data-toggle="modal"
  <div class = " modal fade" id = "new-post-help-box" role = "dialog">
    <div class = "modal-dialog modal-new-post-help-box" >       
    </div>
  </div>
  --> 


  <div id="files" class="files"></div>
  <script src="{{ STATIC_URL }}js/upload.js"></script>
{%endblock content%}


