{% extends "pages/main.html"%}
{%load cache %}
{%block title%}Final Pop{%endblock title%}

{%block content%}
<div class="delete-form">
	<a href = "javascript:history.back()" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
	
	<form action="" method="post">{% csrf_token %}
	 	<div class="delete-item">	 		
	    	<!--<p>Are you sure you want to delete "{{ object }}"?</p>-->
	    	<input type="submit" value="DELETE ME" class="active-loader"/>
	 	</div>
	</form>	
</div>
{%endblock content%}