<!--Weelow © copyright, all rights reserved*/-->

{% load time_to_popping_time %}
{% load avatar_tags %}


{%block post_media%}
  <div onclick="" class="item" style="display:block;">
  <div class="item-image" style=" background-image:url('{{MEDIA_URL}}{{Post.thumbnail_image}}'); background-size: cover ;  background-position: center; background-size: 100% 100%;"></div>   
{%endblock post_media %}

  <div id="id-metamorphosis" class="metamorphosis-btn"> </div> 

  <a href="#{{ Post.id }}" class="item-grid-hover" data-toggle="modal"></a> 

  <!--
  <div class = " modal fade" id = "{{ Post.id }}" role = "dialog" >
    <a href="#close" class = "btn" data-dismiss = "modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> 
      <div class = "modal-dialog modal-help-box" >  
         <div style=" background-image:url('{{MEDIA_URL}}{{Post.thumbnail_image}}'); background-size: cover ;  background-position: center; background-size: 100% 100%; width:200px; height:200px;"></div>
    </div>
  </div>  
  -->
  <div class="item-inner">

<!--<div class="item-loader"></div>-->

  {%block post_description %}
  
  <div id="id-post" class="post">    

    <div class="post-description"><p>{{ Post.description }}</p></div> 
    <div id="id-description" class="post-description-btn"></div>
    
  </div>  
  {%endblock post_description %}

  <div class="post-url-box">

    {%block post_url_soundcloud %}
    {% if Post.url_soundcloud %}
    <div id="id-headphones"class="post-url post-widget-url" >
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
    </div> 
    {% endif %}
    {%endblock post_url_soundcloud %}

    {%block post_url_video %}
    {% if Post.url_video%}
    <div id="id-film" class="post-url post-widget-url" >
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
    </div> 
    {% endif %}
    {%endblock post_url_video %}
    
    {%block post_url%}
    {% if Post.url%}
      <div id="id-link" class="post-url post-link-url"><a target="_blank" href="{{ Post.url }}" ><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></div>
    {% endif %} 
    {%endblock post_url%}

    {%block post_billboard%}
    {% if Post.billboard%}      
      <div id="id-billboard-link" class="post-url post-billboard-url"><a href="{% url 'index' Post.billboard.slug%}"  class="active-loader" ><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span></a></div>
    {% endif %} 
    {%endblock post_billboard%}
    

   <!--{% if Post.author %}
    <div class="post-url post-user-url"><a href="{% url 'profile'  Post.author %}" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></div>
    {% endif%}-->

    {% if Post.author %}

    <a id="id-user-pic" href="{% url 'profile'  Post.author %}" class="post-user-url-pic active-loader" style="background:url('{% avatar_url Post.author 50 %}'); background-size: cover ; background-repeat: no-repeat; background-position: center;"></a>

    <div id="id-user-pname" class="post-user-url-name active-loader"><a href="{% url 'profile'  Post.author  %}" ><p>{{Post.author}}</p></a></div>

    {% else %}    

    <div class="post-user-url-name unknown"><p>Unknown</p></div>

    {% endif%}

  </div>

  <div class="post-widget-desable-btn" style="display:none;">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div>

  

 
  <div class="post-widget" style="display:none;">     
    

    {% if Post.url_soundcloud %}

    {#Soundcloud#}

    {% if Post.url_soundcloud%}
      <iframe id="PostiFrame" src="about:blank" width="100%" height="100%" scrolling="no" frameborder="no" data-src="https://w.soundcloud.com/player/?url={{Post.url_soundcloud}}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;sharing=false"></iframe>
    {% endif %}

    {% elif Post.url_video%}

    {#Youtube or Vimeo#}

    {% load video_url_parser %}
    {% get_video_urls Post.url_video as url_object %}
      <iframe id="PostiFrame" src="about:blank" width="100%" height="100%" data-src="{{ url_object.iframe_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif%}     

  </div>


  {%block triangletime %}
    <div class="triangle"></div>
    <div class="triangle-time"><a href="#popping-time">{{ Post.pop_date |timeuntil2}}</a></div>    
    <div class="triangle-s"></div>    
    <div class="triangle-xl-time"><p>{{ Post.pop_date |date:"M d"}}</p></div>
  {%endblock triangletime %}
  
  </div>  
  {% if Post.id in is_mine %}

    {%block delete%}
    <a href="{% url 'delete' user.username Post.id %}" class="pop-delete active-loader"><p>POP <span class="pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
    <a href="{% url 'delete' user.username Post.id %}" class="swipe-pop-delete active-loader"  style="display:none;"><p>POP <span class="swipe-pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
    {%endblock delete %}

  {%else %}
      
    {% if Post.id in is_picked %}

      {%block pop_after_pick %}

      <a href="#pop" data-id="{{ Post.id }}" data-done-ref="{% url 'pop_without_helium' username=user.username%}" class="pop-after-pick"><p>POP <span class="pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
      <a href="#pop" data-id="{{ Post.id }}" data-done-ref="{% url 'pop_without_helium' username=user.username%}" class="swipe-pop-after-pick" style="display:none;"><p>POP <span class="swipe-pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>

      {%endblock pop_after_pick %}

    {%else %}

      {% if user.is_authenticated %}

        {%block pick %}

        <a href="#pick-to-profile" data-id="{{ Post.id }}" data-done-ref="{% url 'post-pick' username=user.username%}"class="pick"><p>PICK<span class="pick-pop-icon glyphicon glyphicon-ok" aria-hidden="true"></span></p></a>
        <div class="pick-active" style="display:none;"></div>
         <!--PICK SWIPE EVENT-->  
        <a href="#pick-to-profile" data-id="{{ Post.id }}" data-done-ref="{% url 'post-pick' username=user.username%}"class="swipe-pick" style="display:none;"><p>PICK <span class="swipe-pick-pop-icon glyphicon glyphicon-ok" aria-hidden="true"></span></p></a>
        <div class="pick-active" style="display:none;"></div>  

        {%endblock pick %}

        {%block pop %}
        <a href="#pop" data-id="{{ Post.id }}" data-done-ref="{% url 'post-pop' username=user.username%}" class="pop"><p>POP <span class="pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
         <!--POP SWIPE EVENT--> 
        <a href="#pop" data-id="{{ Post.id }}" data-done-ref="{% url 'post-pop' username=user.username%}" class="swipe-pop"  style="display:none;"><p>POP <span class="swipe-pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
        {%endblock pop %}

      {%else %}

        {%block pick_unknown%}
        <a href="{% url 'login' %}" data-id="{{ Post.id }}" class="pick"><p>PICK<span class="pick-pop-icon glyphicon glyphicon-ok" aria-hidden="true"></span></p></a>
        <div class="pick-active" style="display:none;"></div>
        <a href="{% url 'login' %}" data-id="{{ Posts.id }}"class="swipe-pick" style="display:none;"><p>PICK <span class="swipe-pick-pop-icon glyphicon glyphicon-ok" aria-hidden="true"></span></p></a>
        <div class="pick-active" style="display:none;"></div>  
        {%endblock pick_unknown %}

        {%block pop_unknown %}
        <a href="{% url 'login' %}" data-id="{{ Post.id }}" class="pop"><p>POP <span class="pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></a>
        <a href="{% url 'login' %}" data-id="{{ Post.id }}"class="swipe-pop"  style="display:none;"><p>POP <span class="swipe-pick-pop-icon glyphicon glyphicon-remove" aria-hidden="true"></span></p></p></a>
        {%endblock pop_unknown %}

      {%endif %}
    {%endif %}
  {%endif %}
  
</div>










