<!--Weelow © copyright, all rights reserved*/-->
{% load time_to_popping_time %}

 <div class="post_billboard-post" style="background-image:url('{{MEDIA_URL}}{{Post.thumbnail_image}}'); background-size: cover ;  background-position: center; background-size: 100% 100%;">


 <div class="post_billboard-triangle"></div>
 <div class="post_billboard-triangle-time"><p>{{ Post.pop_date |timeuntil2}}</p></div>


<!--
	<div class="triangle"></div>
    <div class="triangle-time"><a href="#popping-time">{{ Post.pop_date |timeuntil2}}</a></div>    
    <div class="triangle-s"></div>    
--> 

</div>   

