<nav id="pagination" style="display:none">
  {% if is_paginated %}
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next page</a>
  {% else %}
  <a class="disable next">{{ page }}</a>
  {% endif %}
  {% endif %}
</nav>