﻿/*Weelow © copyright, all rights reserved*/

/* CSS loader animations */

/*
color 1 #34495D -- rgba(52,73,93,1)
        #293a4a -- rgba(41,58,74,1)
color 2 #35bb85 -- rgba(53,187,133,1)
        #2a956a -- rgba(42,149,106,1)
color 3 #E9DF0E -- rgba/(233,223,14,1)
        #d1c80c -- 
color 4 #568cb6
*/


.loader-bg{
  display: none;
  position:fixed;
  top:50px; left:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 9999;  
}

@keyframes bounceInX {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
   -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes bounceInX {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
   -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes bounceInY {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
   -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
   -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes bounceInY {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
   -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
   -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.loader-animation.right{  
  margin: auto; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  color: #999; 
  width: 40px;
  height: 40px;
  border-radius: 40px;

  -webkit-animation-name:  bounceInX;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation:  bounceInX 2.5s infinite;
  -moz-animation:  bounceInX 2.5s infinite;
  animation:  bounceInX 2.5s infinite;
}

.loader-animation.left{  
  margin: auto; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  color: #999; 
  width: 40px;
  height: 40px;
  border-radius: 40px;

  -webkit-animation-name:  bounceInY;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation:  bounceInY 2.5s infinite;
  -moz-animation:  bounceInY 2.5s infinite;
  animation:  bounceInY 2.5s infinite;
}

@media (max-width: 767px){
  .loader-animation{  
    
  }
}

.loader-animation.left{ 
  left: -25px;
  top: -25px;   
  background-color: #35bb85;
 }
 
.loader-animation.right{ 
  left: 25px;
  top: -25px;  
  background-color: #34495D;
}

/* -------sortby animation ---------*/


.loader-bg-sortby{
  display: none;
  position:fixed;
  top:50px; left:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 9999;  
}



.loader-animation-sortby{  
  margin: auto; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  top: -50px;
  width: 120px;
  height: 60px;
  left: 40px;

  -webkit-animation-name:  bounceInZ;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation:  bounceInZ 2.5s infinite;
  -moz-animation:  bounceInZ 2.5s infinite;
  animation:  bounceInZ 2.5s infinite;
 

}

 @media (max-width: 767px){
  .loader-animation-sortby{
    left: 0;
  }
}


/*
color 1 #34495D -- rgba(52,73,93,1)
        #293a4a -- rgba(41,58,74,1)
color 2 #35bb85 -- rgba(53,187,133,1)
        #2a956a -- rgba(42,149,106,1)
color 3 #E9DF0E -- rgba/(233,223,14,1)
        #d1c80c -- 
color 4 #568cb6
*/



#infinity {
    position: absolute;
    width: 100px;
    height: 100px;
    
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 49px;
    height: 49px;
    border: 6px solid;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

  -moz-animation-name: color_change;
  -moz-animation-duration:3s;
  -moz-animation-direction:alternate;
  -moz-animation-iteration-count:infinite;

  -ms-animation-name: color_change;
  -ms-animation-duration:3s;
  -ms-animation-direction:alternate;
  -ms-animation-iteration-count:infinite;

  -webkit-animation-name: color_change;
  -webkit-animation-duration:3s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite; 

  animation-name: color_change;
  animation-duration:3s;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

 @media (max-width: 767px){
  #infinity:before,
  #infinity:after{
    width: 35px;
    height: 35px;
    border: 5px solid;
    left: 20px;
  }
}


#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);   
}


@-moz-keyframes color_change {
  from { border-color: #35bb85; }
  to { border-color: #E9DF0E; }
}

@-ms-keyframes color_change {
  from { border-color: #35bb85; }
  to { border-color: #E9DF0E; }
}

@-webkit-keyframes color_change {
  from { border-color: #35bb85; }
  to { border-color: #E9DF0E; }
}

@keyframes color_change {
  from { border-color: #35bb85; }
  to { border-color: #E9DF0E; }
}

@keyframes bounceInZ {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1;
  }
  50% {
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
   -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1;
  }
}

@-webkit-keyframes bounceInZ {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1;
  }
  50% {
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
   -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1;
  }
}
