/* LOGIN FORM */

a, a:active, a:focus, .btn:focus, .btn:active:focus, button, button:focus {
outline: none;
}

@font-face {
font-family: 'WeelowFont-1';
src:url('../fonts/DistProTh.otf');
}

body.login {
   background-color: #34495D;
   font-family: 'WeelowFont-1', "Helvetica Neue",Helvetica,Arial,sans-serif ;
   letter-spacing: 1px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; 


}

.login #container {
    background: transparent;
    border: 0px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 170px;
}

@media (max-width: 767px){
  .login #container {
    width: 23em;
    top: 50px;     
  }
}

.login #content-main {
   background: transparent;
    width: 100%;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 0px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login .form-row #id_email, .login .form-row #id_email {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login .form-row #id_password1, .login .form-row #id_password1 {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login .form-row #id_password2, .login .form-row #id_password2 {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    
    width: 100%;
}

.login .password-reset-link {
    text-align: center;
}
/*Weelow © copyright, all rights reserved*/
/*light green #92d050*/
/*shaded pink #ed3e61*/

/*
color 1 #34495D -- rgba(52,73,93,1)
        #293a4a -- rgba(41,58,74,1)
color 2 #35bb85 -- rgba(53,187,133,1)
        #2a956a -- rgba(42,149,106,1)
color 3 #E9DF0E -- 
        #d1c80c -- 
color 4 #568cb6
*/


input[type=text], input[type=password], input[type=email], input[type=url], input[type=number],  input[type=button],
textarea, select, .vTextField {
    border: 0px solid #4b4b4b;
    background: rgba(255,255,255,1);
    height: 40px;
    width: 100%;
    font-size: 20px;
    color:#34495D;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    opacity: 0.5;
}

input[type=submit]{
    margin-top: 5px;
    border: 0px solid rgba(127,127,127,0.5);
    background: rgba(53,187,133,0.5);
    height: 40px;
    width: 100%;
    font-size: 20px;
    color: #fff;    
    letter-spacing: 2px;
    /*font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;*/
    border-radius: 0px;
    -webkit-border-radius: 0px;    
}

input[type=submit]:hover{   
    
    background-color: #35bb85;
    
}

input[type=button]{
   margin-top: 2px;
   background: rgba(53,187,133,0.5);
   color:#fff;
   opacity: 1;
   cursor: pointer;
   font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif ;
   letter-spacing: 2px;
   /*font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif; */
   border-radius: 0px;
   -webkit-border-radius: 0px; 

}

input[type=button]:hover{
     background-color: #35bb85;   
}

.login-title-box{
    height: 100%;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    color:#fff;
}

.login-text-box{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color:#fff;
}

.password-reset-link a{
  color: #fff;
  opacity: 0.8;
}

.password-reset-link a:hover{
  
  opacity: 1;
}