/*Weelow © copyright, all rights reserved*/
/*light green #92d050*/
/*shaded pink #ed3e61*/

/*lu:18.05.15 11:36*/ 

/*
color 1 #34495D -- rgba(52,73,93,1)
        #293a4a -- rgba(41,58,74,1)
color 2 #35bb85 -- rgba(53,187,133,1)
        #2a956a -- rgba(42,149,106,1)
color 3 #E9DF0E -- rgba/(233,223,14,1)
        #d1c80c -- 
color 4 #568cb6 
*/


a, a:active, a:focus, .btn:focus, .btn:active:focus, input, input:focus, input:active{
outline: none;
text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
 text-decoration: none;
}

@font-face {
font-family: 'WeelowFont-1';
src:url('../fonts/DistProTh.otf');
}

@font-face {
font-family: 'WeelowFont-2';
src:url('../fonts/ufonts.com_freestyle-script.ttf');
}
/*
@font-face {
    font-family: 'WeelowFont-2';
    font-style: normal;
    font-weight: 400;
    src: local('Freestyle Script Normal'), local('FreestyleScript-Normal'),
        url(http://allfont.net/css/fonts/freestyle-script-normal/8bd1925861b5a130b6c427f8a1b112f4.eot),
        url(http://allfont.net/css/fonts/freestyle-script-normal/8bd1925861b5a130b6c427f8a1b112f4.eot?#iefix) format('embedded-opentype'),
        url(http://allfont.net/css/fonts/freestyle-script-normal/8bd1925861b5a130b6c427f8a1b112f4.woff) format('woff'),
        url(http://allfont.net/css/fonts/freestyle-script-normal/8bd1925861b5a130b6c427f8a1b112f4.ttf) format('truetype'),
        url(http://allfont.net/css/fonts/freestyle-script-normal/8bd1925861b5a130b6c427f8a1b112f4.svg) format('svg');
}
*/
body {
  margin-top: 50px;
  margin-bottom: 60px;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;    
  -o-user-select: none;
  user-select: none;    
  background-color:#EFF5FF;
  font-family: 'WeelowFont-1', "Helvetica Neue",Helvetica,Arial,sans-serif ;
  letter-spacing: 1px;

}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder, textarea:-moz-placeholder {
  color: white;
}

@font-face {
font-family: 'GetiFont';
src:url('../fonts/ufonts.com_century-gothic.ttf');
}

/*

@media (min-width: 992px){
  .container {
  width: 920px;
  }
}

@media (min-width: 1200px){
  .container {
  width: 1170px;
  }
}

@media (min-width: 1920px){
  .container {
  width: 1850px;
  }
}
*/

.container{
  padding-left: 0;
  padding-right: 0;
}

/* >>>NAVBAR<<<-------------------------- */

/* OPEN Weelow-navbar-menu css*/

/* Weelow-navbar-menu ------- Weelow-Navbar */

.weelow-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #34495D;
  z-index: 1000;
}


.weelow-navbar-back-btn{
  position: absolute;
  left: 0;
  top:0px;
  z-index: 9999;
  color: #fff;
  font-size: 30px;
  padding-left: 10px;
  line-height: 55px;
}

.weelow-navbar-back-btn:hover{
  color: #fff;
}


.weelow-navbar-logo {
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
}

.weelow-navbar-logo a{
  height: 50px;
  width: 182px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.weelow-navbar-logo img{
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.nav-menu-btn{  
  position: absolute;
  top: 10px;
  right: 10px;    
  cursor: pointer;
  z-index: 99999;
  display: block;
}

/* Weelow-navbar-menu ------- Animated Hamburger Icon */

.wrapper {
  
  overflow: hidden;
  width: 130px;
  height: 27px;
  cursor: pointer;
  color: #fff;
  margin-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Arial", sans-serif;
}

.nav-menu-btn-text {
  float: left;
  margin: 0;
  letter-spacing: 3px;
  margin-top: -3.5px;
  font-size: 26px;
}

.checked .nav-menu-btn-text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0.1;
}

@media (max-width: 767px){
  
  .wrapper{
    width:47px;
    margin-right: 0px;
  }
  .checked .nav-menu-btn-text{
    opacity: 0;
  }
  .nav-menu-btn-text {
    opacity: 0;
    display: none;
  }
}

.hamburger {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 10px;
  -moz-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
}

.hamburger li {
  width: 32px;
  height: 4px;
  background: #fff;
  margin:4px 0 0;
  padding: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.checked .hamburger li.first {
  -moz-transform: rotate(-135deg) translateY(-11px);
  -ms-transform: rotate(-135deg) translateY(-11px);
  -webkit-transform: rotate(-135deg) translateY(-11px);
  transform: rotate(-135deg) translateY(-11px);
}

.checked .hamburger li.second {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.checked .hamburger li.third {
  -moz-transform: rotate(135deg) translateY(11px);
  -ms-transform: rotate(135deg) translateY(11px);
  -webkit-transform: rotate(135deg) translateY(11px);
  transform: rotate(135deg) translateY(11px);
}


/* Weelow-navbar-menu -------  Navigation Menu*/

.nav-menu{
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #34495D;  
  right: 0;
  top: 0;
  z-index: 999;
  overflow-y: auto;
  color: white;
  font-weight: bold;
}

.nav-menu .nav-menu-inner {
  width: 240px;
  height: 170px;
  padding: 50px 0px 0px;    
}

.nav-menu .nav-menu-inner ul {
  margin: 0 0 25px;
  padding: 0;
  text-decoration: none;
}

.nav-menu .nav-menu-inner ul li a{
  text-decoration: none;
  color: #fff;
}

.nav-menu .nav-menu-inner ul li {
  list-style: none;
  padding: 10px 30px;
  color: #fff;
  list-style-type: none;
  text-decoration:none; 
  letter-spacing: 1px;
}

.nav-menu-white-line{
  position: relative;
  width: 200px;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background: -moz-linear-gradient(left, #34495D 0%, #fff 50%, #34495D 100%);
  background: -o-linear-gradient(left, #34495D 0%, #fff 50%, #34495D 100%);
  background: -webkit-linear-gradient(left, #34495D 0%, #fff 50%, #34495D 100%);
  background: -ms-linear-gradient(left, #34495D 0%, #fff 50%, #34495D 100%);
  background: linear-gradient(left, #34495D 0%, #fff 50%, #34495D 100%);
}

.nav-menu-white-line.down{
  position: relative;
  top: 40px;
}

.nav-menu .nav-menu-inner ul li:hover {
  background-color: #35bb85; /*  #293a4a; */
  cursor: pointer; 
}

.nav-menu-profile{
  width: 100%;
  height: 65px;
}

.nav-menu-profile-pic{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #35bb85;
  
  background-size: cover ;  background-position: center;
  top: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-profile-pic:hover{
   background-color: #2a956a;
}

.nav-menu-profile-pic p{
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.nav-menu-white-block{  
  height: 65px;
  width: 100%;
  background-color: #fff;
}

.nav-menu-socialmedia-box{
  position: relative;
  top: 20px;
  width: 200px;
  height: 40px;  
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-socialmedia-icon img{
  height: 40px;
  float:left;
  margin:0;
  padding-left:5px;
  padding-right:5px;
}

.nav-menu-socialmedia-icon img:hover{
  opacity: 0.5;  
}

.nav-menu-copyright-box{
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 10px;
  font-style: italic;
  padding-bottom: 10px;
  font-weight: normal;
}

.nav-menu-outside-exit{
  display: none;
}

@media (max-width: 767px){
  .nav-menu-outside-exit{
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    opacity: 0.8;
  }
}

.nav-menu-enable{
  position: fixed;
  right:  0;
  z-index: 0;
  width: 65px;
  height: 100%;
}

@media (max-width: 767px){
    .nav-menu-enable{
    display: none;
  }
}

.stanford-logo-menu {
  width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
/*
@media (max-width: 767px){
    .stanford-logo-menu{
    margin-top: 30px;
  }
}
*/

/*  Weelow-navbar-menu -------  desable jqurey mobile css*/

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow:none;
}

/* CLOSE Weelow-navbar-menu css*/

/*---<<<---Bottom & Side bar--->>>-------------------------*/

.mobile-navbar-bottom{

display: none;

}


@media (max-width: 500px){
  .mobile-navbar-bottom{
    display: block;    
    position: fixed;    
    bottom: 0;
    width: 100%;
    height: 50px;   
    z-index: 998;
    background-color: #34495D; 
    text-align: center;
    opacity: 0.9;
  }
}

/*
  .mobile-navbar-bottom:hover{
      /*background-color: rgba(209,200,12,1);*/ /*
      cursor: pointer;
  }

  .mobile-navbar-bottom-billboard-publish{
     
  }

  .mobile-navbar-bottom-billboard-publish p{
    text-align: center;
    font-size: 20px;
    color: #293a4a; 
    line-height: 50px;
    font-weight: bold;
  }
  
*/


  .grid-icon{
    position: relative;
    display: inline-block;    
    height: 50px;
    width: 50px;
    background: transparent;
    cursor: pointer;
  }

  .grid-square-icon{
    position: absolute;    
    width: 40px;
    height: 10px;
    background-color: #fff;
  }

  .left{   
    display: block; 
    position: absolute;
    left: 10px;
    width: 5px;
    height: 10px;
    background-color: #293a4a;
  }

  .right{    
    display: block;
    position: absolute;
    left: 25px;
    width: 5px;
    height: 10px;
    background-color: #293a4a;
  }

  .grid-square-icon.top{    
    top: 5px;
    left: 5px; 
    /*border-top-right-radius: 5px;
    border-top-left-radius: 5px;*/
  }

  .grid-square-icon:before{   
    top: 0px;
    left: 10px;  
  }

  .grid-square-icon:after{    
    top: 0px;
    left: 25px;    
  }

   .grid-square-icon.middle{    
    top: 20px;
    left: 5px; 
  }

    .grid-square-icon.bottom{    
    top: 35px;
    left: 5px; 
    /*border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;*/
  }

.mobile-infin-btn{
    position: relative;
    background-color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 5px;
}

#mobile-infinity {
    position: relative;
    width: 40px;
    height: 40px;
}

#mobile-infinity:before,
#mobile-infinity:after {
    content: "";
    position: absolute;
    top: 11.5px;
    left: 2.5px;
    width: 17px;
    height: 17px;
    border: 4px solid #293a4a;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#mobile-infinity:after {
    left: auto;
    right: 2.5px;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}


.mobile-publish-btn{
    position: relative;
    background-color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 5px;
}

.mobile-publish-btn .glyphicon.glyphicon-pencil{
  color:#293a4a;
  position: absolute;
  font-size: 25px;
  width: 100%;
  left: 0px;
  line-height: 40px;
  margin: 0;
  text-decoration: none;
}

.mobile-profile-btn{
    position: relative;
    background-color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 5px;
}

.mobile-profile-btn .glyphicon.glyphicon-ok{
  color:#293a4a;
  position: absolute;
  font-size: 25px;
  width: 100%;
  left: 0px;
  line-height: 40px;
  margin: 0;
  text-decoration: none;
}

/*---<<<---Bottom & Side bar--->>>- sorby btn ---- */


.sortby-ppt-btn{
  display: block;    
  position: fixed; 
  right: 15px;
  bottom: 0px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  background-color: #E9DF0E;
  border-radius: 40px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

@media (max-width: 500px){
  .sortby-ppt-btn{
    display: none;
    right: 7px;
    margin-bottom: 7px;
  }
}

.sortby-ppt-btn:hover{
  background-color: #d1c80c;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
}

.sortby-ppt-btn p{  
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  color: #34495D;
  font-size: 40px;
  font-family: 'WeelowFont-1';
  font-weight: 100;   
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  .sortby-ppt-btn p{  
     line-height: 35px;
}

}

.sortby-helium-btn{  
  display: block;    
  position: fixed; 
  right: 15px;
  bottom: 0;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  background-color: #35bb85;
  border-radius: 40px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

@media (max-width: 500px){
  .sortby-helium-btn{
    display: none;
    right: 7px;
    margin-bottom: 7px;
  }
}

.sortby-helium-btn:hover{
  background-color: #2a956a;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
}

.sortby-helium-btn p{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 40px;
  font-family: 'WeelowFont-1';
  font-weight: 100;   
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  .sortby-helium-btn p{  
     line-height: 35px;
}

}

.sidebar {  
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  position: fixed;
  width: 240px;
  height: 30px;
  background-color: #E9DF0E;
  z-index: 99;
  text-align: center;
  
  display: table-cell;
  vertical-align: middle;
  font-size: 35px;

  font-size: 20px;
  color: #293a4a; 
  line-height: 40px;  

  top: 480px;
  right: -125px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.3);

  cursor: pointer;

  -webkit-transition: all .1s ease-in-out; 
  -ms-transition: all .1s ease-in-out; 
  -moz-transition: all .1s ease-in-out; 
  transition: all .1s ease-in-out; 
}

.sidebar:hover{
  background-color: #ebe226;
  text-decoration: none;
  color: #293a4a;
  height: 100px;
  top: 445px; 
}

.sidebar:active {
  text-decoration: none;
  color: #293a4a;
}

@media (max-width: 767px){
  .sidebar{
    display: none;
  }
}


/* >>>Profile Bar<<<-------------------------- */


.profile-bar{
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #35bb85; /*#91c060; rgb(217,217,217) #cd5c5c*/
}

.profile-bar-name{
  position: absolute;
  left:125px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  line-height: 65px;
  color: #fff; /* #4b4b4b;
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-weight: bold;  */
}

@media (max-width: 767px){
  .profile-bar-name{
    font-size: 20px;
    left:70px;
    line-height: 65px;
  }
}

.profile-bar-pic{
  position: absolute;
  left: 50px;
  top:0px;  
  width: 65px;
  height: 65px;
  border: 0px solid ;
  border-color:  rgb(146,208,80);
  border-radius: 0px;
}

@media (max-width: 767px){
  .profile-bar-pic{
    left: 0px;
  }
}

.profile-bar-pic-edit, .profile-bar-pic:hover>.profile-bar-pic-edit{display: none;}

.profile-bar-pic:hover>.profile-bar-pic-edit{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(52,73,93,0.5);
}

.glyphicon.glyphicon-edit{
  display: block;
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  left: 15px;
}


.profile-bar-email-confirmation{  
  position: relative;  
  left: 0;
  height: 35px; 
  width: 100%;
  background-color: #34495D;  
  /*border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;*/
  
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);*/

  font-size: 20px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  /*font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-weight: bold;  */
}

@media (max-width: 767px){
  .profile-bar-email-confirmation {
    font-size: 14px;
    
  }
}

/* >>>Profile Bar<<<--------------------AVATAR */

.profile-avatar{
  position: relative;    
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;  
}

@media (max-width: 767px){
  .profile-avatar{    
    height: 240px;
    width: 240px;     
  }
}

.profile-avatar .glyphicon.glyphicon-remove{
  position: absolute;
  color: #34495D;
  font-size: 25px;
  right: -30px;
  top: -30px;
}

.profile-avatar .glyphicon.glyphicon-remove:hover{
  color: #293a4a;
}

.profile-avatar-item{ 
  position: absolute;  
  height: 100%;
  width: 100%;
  /*border: 2px solid #ccc;  */
  border-radius: 10px;     
  overflow: hidden;
  background-color: #fff;  
}

@media (max-width: 767px){
  .profile-avatar-item{
    
    font-size: 13px;     
  }
}

@media (max-width: 767px){
  .profile-avatar-item img{
    width: 50px;
    height: 50px;
  }
}

/*
  .profile-avatar-pic{
  position: absolute;
  top:40px;
  left: 75px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#new-profile-pic{
  position: absolute;
  top:75px;
  left:110px;
  z-index: 2;
  width: 80px;
  height: 80px;
  background-image: url('../logos/add-item.png');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: rgba(220,220,220,0.8);
  border-radius: 80px;
  cursor:pointer;
}

#new-profile-pic:hover{
  background-color: rgb(146,208,80);
  border-radius: 150px;
  opacity: 0.7; 
}

#new-profile-pic input{
  filter: alpha(opacity=0);
  opacity: 0;
  width: 150px;
  height: 150px;
  cursor:pointer;
}

*/

.upload-avatar input{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #35bb85;
  border:none;  

  font-size: 25px;
  color: #fff;
  font-weight:0; 
}

@media (max-width: 767px){
  .upload-avatar input{
    font-size: 20px;     
  }
}

.upload-avatar input:hover{ 
  background: #2a956a;  
}

/* >>>Profile Bar<<<--------------------SETTINGS */

.profile-bar-settings-menu{
  text-decoration: none;
  position: absolute;
  top: 65px;
  right: 0;
  width: 160px;
  height: 120px; 
  background-color:  #34495D;
  color: white;
  z-index: 99;

}

.profile-bar-settings-menu ul {
  text-decoration: none;
  color: white;
  list-style: none;
  width: 100%;
  
  left: 0;
  margin: 0 0 25px;
  padding: 0  
}

.profile-bar-settings-menu li {
  text-decoration: none;
  color: white;
  list-style: none;
  width: 100%; 
  
  padding: 10px 30px;
  padding-left: 20px;
}

.profile-bar-settings-menu li a{
  text-decoration: none;
  color: white;
  list-style: none; 
}

.profile-bar-settings-menu li:hover{  
  background-color: #35bb85; 
}

/* >>>Profile Bar<<< ------- Animated Settings Icon */

.profile-bar-settings-rotation{
  position: absolute;
  right: 60px;
  top: 17px;
  cursor: pointer;
}

@media (max-width: 767px){
  .profile-bar-settings-rotation{
     right: 16px;
  }
}   

.glyphicon.glyphicon-cog{
  position: absolute;
  font-size: 30px;
  color: #fff;
  top: 0;
}
.profile-bar-settings-rotation div {
  width: 30px;
  height: 30px;  
   
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.checked .profile-bar-settings-rotation div.settings-logo {
  -moz-transform: rotate(-90deg) ;
  -ms-transform: rotate(-90deg) ;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* >>>no-post-available<<<---------------------- */

.no-post-available { 
  position: absolute;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50%;
  width: 100%;  
}

@media (max-width: 767px){
  .no-post-available{
    margin-top: 10%;
  }
}
.no-post-available img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: auto;
}

/* >>>ITEM - POST<<< --------------------------- */

.masonry {
  position: relative;
  top:10px;
  background: transparent;
  max-width: 100%; 
  margin:auto;   
}

@media (max-width: 500px){
  .masonry{
    
    top:0px;        
    max-width: 100%;
    margin: auto;   
  }
}

/*@media (max-width: 1700px){
  .masonry{
    top:13px;        
    max-width: 1500px;
    margin:  auto;   
  }
}*/

.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.masonry .item {
  position: relative;
  width:  240px;
  height: 240px;
  float: left;  
  border: 0px solid ;
  border-color: #34495D; /*rgba(137,137,137,1);*/
  /*box-shadow: 2px 2px 2px #888888;*/
  /*box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);*/
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;  
}

@media (max-width: 500px){
  .masonry .item {
    width:  100px;
    height: 100px;
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .item-inner{
    display: none;
  }

  .help-on-swipe-right{
    display: none;
  }

  .item:hover>.pick{
    display: none;
  }
}

@media (max-width: 500px){
    .item:hover>.item-grid-hover{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 99;
    
  }
}

.item-image{
  position: absolute;
  width: 100%;
  height: 100%;
}

.item-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../logos/loading-bg-50px.png');
  z-index: -99;
}

.metamorphosis-btn, .item:hover>.metamorphosis-btn{display: none;}

.item:hover>.metamorphosis-btn{
 display: block;
 position: absolute;
 width:  100%;
 height: 100%;/*
 background-color: rgba(111, 111, 111, 0.3);*/
 border-radius: 10px;
 top: 0px;
 z-index: 1; 
 cursor: pointer;
}

@media (max-width: 767px){
  .item:hover>.metamorphosis-btn{
    cursor: auto;
  }
}
/* >>>ITEM - POST<<<--------------------------PICK & POP ICON*/

.pick-pop-icon{
  font-size: 20px;
}

.pick-pop-icon.glyphicon.glyphicon-rdemove:hover{
  color: #fff;
}

.swipe-pick-pop-icon{
  font-size: 30px;
}

.swipe-pick-pop-icon.glyphicon.glyphicon-rdemove:hover{
  color: #fff;
}


/* >>>ITEM - POST<<<--------------------------PICK*/

.pick, .item:hover>.pick{display: none;}

.item:hover>.pick{
 display: table;
 position: absolute;
 width:  80px;
 height: 34px;
 border-radius: 5px; 
 background-color: rgba(53,187,133,1);
 top: 40%;
 right: 12.5%;
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
 
 z-index: 5;
}

@media (max-width: 500px){
  .item:hover>.pick{
   display: none;
  }
}

.pick p{display: none;}

.item:hover> .pick p{
  color:#fff;
  font-size: 22px;  
  list-style-type: none;
  text-decoration:none; 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

.item:hover>.pick:hover{ 
 background-color: rgba(42,149,106,1);
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 text-decoration: none;
 cursor: pointer;
}

.item:hover>.pick:focus{
 background-color: rgba(42,149,106,1);
 text-decoration: none; 
}

.pick a:active{
  text-decoration:none;
}

.pick-active{ 
 position: absolute;
 width:  100%;
 height: 100%; 
 /*border:10px solid rgba(70, 143, 199, 0.9); rgba(220,230,242,0.8);*/
 background-color: #35bb85;
 border-radius: 8px;
 top: 0px;
 z-index: 999; 
}

.pick-active:after{
 content: "My Pick !" ;
 text-align: center;  
 color: #fff;
 font-size: 35px;
 position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
 z-index: 999; 
}



/* >>>ITEM - POST<<<---------------------------POP*/

.pop, .item:hover>.pop{display: none;}

.item:hover>.pop{
 display: table;
 position: absolute;
 width:  80px;
 height: 34px;
 /*width:  25%;
 height: 14%;*/
 border-radius: 5px;
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
 background-color: rgba(52,73,93,1);
 top: 40%;
 left:12.5%; /*20%*/ 

 z-index: 5;
}

@media (max-width: 500px){
  .item:hover>.pop{
   display: none;
  }
}

.pop p{display: none;}

.item:hover>.pop p{
  color:#fff;
  font-size: 22px; 
 
  list-style-type: none;
  text-decoration:none; 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

.item:hover>.pop:hover{
 background-color:rgba(41,58,74,1); 
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 text-decoration: none;
 cursor:pointer;
}

.pop:active, .item.:hover>.pop:active{display: none;}

.item:hover>.pop:active{
 text-decoration: none; 
}


/* >>>ITEM - POST_USER<<<------------------------*/


.pop-delete, .item:hover>.pop-delete{display: none;}

.item:hover>.pop-delete{
 display: table;
 position: absolute;
 width:  85px;
 height: 34px;
 border-radius: 5px;
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
 background-color: #34495D ;
 top: 40%;
 margin:auto;
 left:0;
 right: 0;

 z-index: 5;
}

@media (max-width: 500px){
  .item:hover>.pop-delete{
   display: none;
  }
}

.pop-delete p{display: none;}

.item:hover>.pop-delete p{
  color:#fff;
  font-size: 22px; 
 
  list-style-type: none;
  text-decoration:none; 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

.item:hover>.pop-delete:hover{
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 background-color: #e45047;
 text-decoration: none;
 cursor:pointer;
}

/* >>> ITEM <<<----------------- pop-after-pick */


.pop-after-pick, .item:hover>.pop-after-pick{display: none;}

.item:hover>.pop-after-pick{
 display: table;
 position: absolute;
 width:  85px;
 height: 34px;
 border-radius: 5px;
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
 background-color: #34495D;
 top: 40%;
 margin:auto;
 left:0;
 right: 0; 

 z-index: 5;
}

@media (max-width: 500px){
  .item:hover>.pop-after-pick{
   display: none;
  }
}

.pop-after-pick p {display: none;}

.item:hover>.pop-after-pick p{

  color: #fff;
  font-size: 23px; 
    
  list-style-type: none;
  text-decoration:none; 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

.item:hover>.pop-after-pick:hover{
 box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 background-color:#293a4a;
 text-decoration: none;
 cursor:pointer, auto;
}


/* >>>ITEM - POST<<<-------------SWIPE--------------PICK OR POP*/


 .swipe-pick {  
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: table; 
}

/*
@media (max-width: 500px){
  .swipe-pick{
   display: none;
  }
}
*/

.swipe-pick p{
  background-color: rgba(53,187,133,1);
  /*background: -moz-linear-gradient(left,  rgba(52,73,93,1) 90% , transparent 100%);
  */
  width: 100%;
  height: 100%;

  color: #fff;
  font-size: 40px;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

 .swipe-pop {  
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: table; 
}

/*
@media (max-width: 500px){
   .swipe-pop{
   display: none;
  }
}
*/

.swipe-pop p{
  background: rgba(52,73,93,1);
  /*background: -moz-linear-gradient(right,  rgba(53,187,133,0.9) 90% , transparent 100%);
  */
  width: 100%;
  height: 100%;
  
  color: #fff;
  font-size: 40px;
  line-height: 240px;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

 .swipe-pop-after-pick {  
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: table; 
}

/*
@media (max-width: 500px){
    .swipe-pop-after-pick{
   display: none;
  }
}
*/

.swipe-pop-after-pick p{
  background: rgba(52,73,93,1);
  /*background: -moz-linear-gradient(right,  rgba(53,187,133,0.9) 90% , transparent 100%);
  */
  width: 100%;
  height: 100%;

  color: #fff;
  font-size: 40px;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;
}

 .swipe-pop-delete {  
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: table; 
}

/*
@media (max-width: 500px){
    .swipe-pop-delete{
   display: none;
  }
}
*/

.swipe-pop-delete p{
  background: #E45047;
  /*background: -moz-linear-gradient(right,  rgba(53,187,133,0.9) 90% , transparent 100%);
  */
  width: 100%;
  height: 100%;
  
  color: #fff;
  font-size: 40px;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-weight: lighter;;
}

/* >>>ITEM - POST<<<----------------------TRIANGLE*/


.triangle {
  position: absolute;
  right: 0px;
  border-style: solid;
  border-width: 0 56px 56px 0;
  /*border-width: 0 73px 73px 0; for item 300x300*/
  border-color: transparent  #E9DF0E transparent transparent;
  /*-webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;*/
  z-index: 7;
  opacity: 0.98;
}

.triangle-s {
  position: absolute;
  right: -1px;
  border-style: solid;
  border-width: 0 59px 59px 0;   
  /*border-width: 0 73px 73px 0; for item 300x300*/
  /*-webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;*/
  border-color: transparent  #4b4b4b transparent transparent;
  opacity: 0.4;
  z-index: 6;
}

.triangle-time a{
  position: absolute;
  width:50px; 
  height:25px;

  top: 13px;
  right: -2.5px;
  /*top: 13px;
  right: -2.5px; for item 300x300 */

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=45);
  z-index: 7;

  font-size: 20px;
  line-height: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
  letter-spacing: 0px;
  /*font-size: 25px;for item 300x300
  line-height: 27px;for item 300x300*/
  text-align: center;  
  color: #34495D;
  cursor: pointer;
  text-decoration: none;
}

.triangle-time a:hover{
  color:#293a4a;
}


.triangle-xl-time p{
  display: none;
  position: absolute;
  width:96px; 
  height:20px;

  top: 24px;
  right:-12px;
  

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=45);
  z-index: 7;

  font-size: 20px;
  line-height: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
  letter-spacing: 0px;
  
  text-align: center;  
  color: #34495D;
  cursor: pointer;
  text-decoration: none;

  }

  .triangle-xl-time p:hover{
  color:#293a4a;
}
  

/* >>>ITEM - POST<<<--------------------------*/


/*.post, .item:hover>.post{display: none;}

.item:hover>*/.post{
 display: block;
 position: absolute;
 width:  100%;
 height: 16.66%;
 background-color: rgba(255, 255, 255, 0.8); 
 bottom: 0px; 
 z-index: 6;
 line-height: 40px;
 }



/* >>>ITEM - POST<<<------------------------Desciption*/


.post-description-btn{
  position: absolute;  
  height: 100%;
  width: 100%;  
  left: 0px; 
  cursor: pointer;
}

.post-description{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;  
  left: 0px; 
}

.post-description p{
  font-size: 16px;
  padding-bottom: 11px;
  padding-left: 4px;
  padding-right: 4px;  

  color:#34495D;
  cursor: pointer;

  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

/* >>>ITEM - POST<<<------------------------URL*/

.post-url-box{
 display: none;
 position: absolute;
 width:  100%;
 height: 30px;
 pointer-events: none; 
 bottom: -2.5px; 
 z-index: 7;
 line-height: 20px;
 padding-right: 10px;
}

.post-url{ 
  float: right;   
  margin-left:25px;  
  width: 20px;
  height: 20px;
  z-index: 7;
  pointer-events: auto; 
  cursor: pointer;
}

.post-url .glyphicon{
  font-size: 20px;
  color: #34495D;
}

.post-url .glyphicon:hover {  
  color: #293a4a;
}

.post-url.post-widget-url {
  width: 25px;
  height: 25px;
  margin-top: -5px;
}

.post-widget-url .glyphicon{
 font-size: 25px;
}

.post-user-url-pic{
  position: absolute;
  bottom: 7.5px;
  left: 5px;
  height: 30px;
  width: 30px;
  border-radius:30px;
  pointer-events: auto; 
 
}

.post-user-url-name {
  position: absolute;
  height: 30px;
  bottom: 7.5px; 
  left: 40px; 
  pointer-events: auto;
  max-width: 35%;  
}

.post-user-url-name.unknown {
  left: 10px;
  bottom: 5px; 
}

.post-user-url-name p {
  font-size: 14px;
  overflow: hidden;
  line-height: 30px;
  color:#34495D;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-user-url-name:hover a{
  color: #293a4a;
  text-decoration: none;
}




/* >>>ITEM - POST<<<------------------------WIDGET*/



/*.balloon-bubble-toogle-btn, .item:hover>.balloon-bubble-toogle-btn{display: none;}

.item:hover>*/.post-widget-desable-btn {
  
  position: absolute;
  top: 7px;
  right: 7px;    
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 9;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
}
.post-widget-desable-btn .glyphicon.glyphicon-remove{
  font-size: 20px;
  color: #34495D ;
}

.post-widget-desable-btn .glyphicon.glyphicon-remove:hover {
  color: #293a4a;
}



.post-widget{  

 position: absolute;
 width:  100%;
 height: 100%; 
 background-color:transparent; /*#468fc7; */
 z-index: 6;
 /*border-radius: 10px;*/  
 }



/* >>>ITEM - POST_USER<<<-------------------delete form---*/


.delete-form .glyphicon.glyphicon-remove{
  position: absolute;
  color: #34495D;
  font-size: 25px;
  right: -30px;
  top: -30px;
}

.delete-form .glyphicon.glyphicon-remove:hover{
  color: #293a4a;
}


.delete-form{
  position: relative;    
  height: 240px;
  width: 240px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; 
}


.delete-item{
  position: absolute;  
  height: 240px;
  width: 240px;   
  border-radius: 10px;     
  overflow: hidden;
  background-color: #fff;
  background-image: url('../logos/badoon.png');
  background-size: 135px auto ;
  background-repeat: no-repeat; 
  background-position:center 30px ;
}

.delete-item:hover{
background-image: url('../logos/sadoon.png');
}

.delete-item input{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #ed4a3f;
  border:none; 
  font-size: 30px;
  color: #fff;
  line-height: 50px;
   
}

.delete-item input:hover{ 
  background: #ff3a2d;
  color: #fff; 
}

/* back */

.back{
  position: absolute;
  right: 1px;
  width: 30px;
  height: 30px;
  background-image:url('../logos/close.png');
  background-size: 30px 30px; 
  background-position: center;
}

@media (max-width: 767px){
  .back{
  width: 25px;
  height: 25px;
  background-size: 25px 25px; 
  }
}

.back:hover{
  opacity: 0.5;
}



/* >>>CREATE A POST<<<-------------------------- */

.new-post{
  position: fixed;
  top: 50%;
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 450px;
  width: 350px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}

@media (max-width: 767px){
  .new-post{ 
    height: 310px;
    width: 240px; 
  }
}

@media (max-width:500px){
  .new-post{
   display: block;
   
   top: 50px;
   left: 0;
   margin: 0;
   
   width: 100%;
   height: 100%;
   
  -webkit-transform: none;
  -ms-transform:none;
  -moz-transform: none;
  transform:none;
  }
}

.new-post .glyphicon.glyphicon-remove{
  position: absolute;
  color: #34495D;
  right: -33px;
  top: -33px;
  font-size: 35px;
}

@media (max-width: 767px){
  .new-post .glyphicon.glyphicon-remove{
    font-size: 30px;
  }
}

@media (max-width:500px){
  .new-post .glyphicon.glyphicon-remove{
    display: none;
  }
}

.new-post .glyphicon.glyphicon-remove:hover{
  color: #293a4a;
}

.new-post-image{
  position: absolute;  
  background-color: #fff;  
  height: 100%;
  width: 100%;
  border: 0px solid #293a4a;  
  border-radius: 10px 10px 10px 10px;    
  overflow: hidden; 
}

@media (max-width: 767px){
  .new-post-image{  
    height: 100%;
    width: 100%; 
    background-size: 238px auto;
    background-position: 0px 160px;  
  }
}

@media (max-width:500px){
  .new-post-image{
   position: relative;
   border:none;
   border-radius: 0px;
  }
}

.new-popping-time{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 50px;
  background-color: #34495D;

}

@media (max-width:500px){
  .new-popping-time{
   width: 50%;
   height: 50px;
   bottom: 100px;
  }
}

.popping-time input {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  left: 0px;  
  background-color: #34495D;
  border-radius: 0px;
  margin-left: 0px;
  border: 0px solid #ccc;
  padding-left: 10px;
  z-index: 2;
  font-size: 18px;
  color:#fff;  
  
  /*border-radius: 0px 0px 0px 20px;*/
}

@media (max-width: 767px){
  .popping-time input {
    padding-left: 10px;
    font-size: 14px;
  }
}

@media (max-width: 500px){
  .popping-time input {
    padding-left: 10px;
    font-size: 16px;
  }
}

.send-btn{
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #ed3e61;
}

@media (max-width:500px){
  .send-btn{   
   height: 50px;
   bottom: 50px;
  }
}

.new-post-image .post-btn button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: #E9DF0E;
  border:0px;
  border-radius: 0px;
  z-index: 2;
  color:#34495D;
  font-weight: bold;
  font-size: 20px;  
}

@media (max-width: 767px){
  .new-post-image .post-btn button{
    font-size: 18px;
  }
}

.new-post-image .post-btn .btn-default:hover{
  background-color: #d1c80c;
  
}

.new-post-image .post-btn .btn-default:focus{
  background-color: #d1c80c;
  
}

/* >>>CREATE A POST<<<-----------------CONTENT */

#new-item-image{
position: absolute;
top: 100px;
z-index: 2;
width: 149px;
height: 149px;
background:#35bb85;
overflow: hidden;
left:100px;
border-radius: 150px;
cursor: pointer;
opacity: 1;
}

#new-item-image:hover{
  background-color: #2a956a;
  border-radius: 150px;
  opacity: 1; 
}

@media (max-width: 767px){
  #new-item-image{
    position: absolute;
    top: 50px;
    z-index: 2;
    width: 102px;
    height: 102px;
   
    overflow: hidden;
    left:68px;
  }
}

@media (max-width:500px){
  #new-item-image{   
  position: fixed;
  top: 45%;
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 100px; 
  margin-left: auto;
  margin-right: auto; 
  }
}


#new-item-image .glyphicon.glyphicon-picture{
    position: absolute;
    color: #fff;
     
    font-size: 100px;
    left: 25px;
    top: 20px;
    z-index: -1;  
  }

@media (max-width: 767px){
  #new-item-image .glyphicon.glyphicon-picture{        
    font-size: 67px;
    left: 17px;
    top: 13px;     
  }
}

#new-item-image input{
 /*filter: alpha(opacity=0);*/
  opacity: 0;
  width: 150px;
  height: 150px;
  cursor:pointer;
  z-index: 999;
}

@media (max-width: 767px){
  #new-item-image input{
  width: 100px;
  height: 100px;
}
}

#images{
 position: absolute;
 width: 100%;
 height: 350px; 
 z-index: 1;
 overflow: hidden;
}

@media (max-width: 767px){
  #images{
  width: 100%;
  height: 238px; 
  }
}

@media (max-width: 500px){
  #images{  
  width: 100%;
  height: 100%;
  height: -moz-calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
  height: calc(100% - 150px); 
  }
}

#images img{
  height: 350px;
  width: 350px;

}

@media (max-width: 767px){
  #images img{
    height: 238px;
    width: 238px;
  }
}

@media (max-width: 500px){
  #images img{    
    width: 100%;
    height: 100%;    
  }
}

/* >>>CREATE A POST<<<-----------------BUBBLE */


.new-post-image .new-post-bubble-btn button{
  position: absolute;
  bottom: 50px;
  right: 0px;
  height: 50px;
  width: 50%;
  z-index: 2;
  border:0px;
  border-radius: 0px;
  background-color: #34495D; /* #3192dd;*/
  color:white;
  border-left: 4px solid #293a4a;
  font-size: 18px; 
}

@media (max-width: 767px){
  .new-post-image .new-post-bubble-btn button{
  font-size: 14px;  
  }
}

@media (max-width:500px){
  .new-post-image .new-post-bubble-btn button{
   bottom: 100px;
   font-size: 16px;  
  }
}

.new-post-image .new-post-bubble-btn .btn-default:hover{
  background-color: #293a4a;
}

.new-post-bubble-btn .btn {
  padding: 14px 12px;
}

.new-post-bubble{
 position: absolute;
 width:  100%;
 height: 350px;
 background-color: rgba(255,255,255,0.9);
 top: 0;
 z-index: 4;
 /*border-radius: 20px 20px 0px 0px;*/
}

@media (max-width: 767px){
  .new-post-bubble{
  width:  100%;
  height: 210px; 
  }
}

@media (max-width: 500px){
  .new-post-bubble{    
    top: inherit;
    bottom: 150px;
    height: 100%;
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px);    
  }
}

.new-post-bubble-description{
  position: absolute;
  width: 90%; 
  height: 100%; 
  display: table;
  padding-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
}

@media (max-width: 767px){
  .new-post-bubble-description{
  width: 90%; 
  height: 100%;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
}

@media (max-width: 500px){
  .new-post-bubble-description{    
      
  }
}

.new-post-bubble-description p {
  display: table-cell;   
  text-align: center;  
}

.new-post-bubble-description textarea{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;  
  font-size: 20px;
  color:#34495D;
  background-color: transparent;
  border: 0px solid black;
  width: 100%;
  height: 225px; 
}

.new-post-bubble-description textarea::-webkit-input-placeholder {
  color: #34495D;
}

@media (max-width: 767px){
  .new-post-bubble-description textarea{
    font-size: 15px;
    width: 100%;
    height: 70%; 
  }
}

@media (max-width: 500px){
  .new-post-bubble-description textarea{
    font-size: 18px;
    height: 100%;
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);      
  }
}

/* >>>CREATE A POST<<<-----------------URL */ 

.new-post-bubble-description-url{ 
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 44px;
  left: 0px;  
}


.bubble-chevron-description-url.glyphicon{
  position: absolute;
  top: 10px;
  left: 5px;
  color: #FFF;
  font-size: 20px;
  z-index: 7;
}

.description-url input {

  display: block;
  width: 100%;
  height: 40px;
  background-color: #34495D;
  border-radius: 0px;
  margin-left: 0px;
  border: none;
  padding-left: 30px;
  z-index: 2;
  font-size: 18px;
  color:#fff;
}


@media (max-width: 767px){
  .description-url input {    
    font-size: 14px;
  }
}

@media (max-width: 500px){
  .description-url input {    
    font-size: 16px;
  }
}

.description-url input:hover{
  background-color: #293a4a;
}

.api-box{
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 2px;
  left: 0px;  
  background-color:#34495D;
  z-index: 1;
}

.api-box:hover{
  /*background-color: #293a4a;*/
}

.api-box-text{
  position: absolute;
  left: 30px;
  font-size: 18px;
  color:#fff;
  line-height: 40px;
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 767px){
  .api-box-text { 
    width: 45%;
    left: 10px;   
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 500px){
  .api-box-text {    
    font-size: 16px;
    width: 60%;
    line-height: 40px;
  }
}


.api-box-soundcloud-icon{
  position: absolute;
  right: 80px;
  width: 40px;
  height: 40px;
  background:url('../logos/follow/soundcloud-icon-by_reamstale.png');
  background-size: 110% 110%;
  background-position: center;
  border: solid 0px #fff; 
  cursor: pointer;
}

.api-box-soundcloud-icon.clicked, .api-box-soundcloud-icon:hover{
  
   background-color:  #293a4a;
   
}

.api-box-vimeo-icon{
  position: absolute;
  right: 40px;
  width: 40px;
  height: 40px;
  background-image:url('../logos/follow/vimeo-icon-by_reamstale.png');
  background-size: 110% 110%;
  background-position: center;
  border: solid 0px #fff;
  cursor: pointer; 
}

.api-box-vimeo-icon.clicked, .api-box-vimeo-icon:hover{  
   background-color:  #293a4a;   
}

.api-box-youtube-icon{
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  background:url('../logos/follow/youtube-icon-by_dreamstale.png');
  background-size: 110% 110%;
  background-position: center;
  border: solid 0px #fff;
  cursor: pointer; 
}

.api-box-youtube-icon.clicked, .api-box-youtube-icon:hover{
   /*border: solid 1px #35bb85;*/
   background-color:  #293a4a;   
}

.api-url-box input{  
  width: 230px;
  height: 40px;
  background-color: #34495D;
  border-radius: 0px;
  margin-left: 0px;
  border: none;
  padding-left: 30px;
  z-index: 2;
  font-size: 18px;
  color:#fff;
}

@media (max-width: 767px){
  .api-url-box input { 
    width: 120px;       
    font-size: 12px;
    line-height: 0px;
    padding-left: 5px;
  }
}

@media (max-width: 500px){
  .api-url-box input {
    width: 60%;       
    font-size: 16px;
    line-height: normal;
    padding-left:7px;
  }
}

.new-post-line.bottom{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #293a4a;
  z-index: 5;
}

.new-post-line.middle{
  position: absolute;
  bottom: 42px;
  width: 100%;
  height: 2px;
  background-color: #293a4a;
  z-index: 5;
}




/* >>>CREATE A POST<<<-----------------Error--*/

.error-image-box{
  position: absolute;
  left:0;
  width: 100%;
  height: 350px;
  border: solid 5px #ed3e61; 
  border-top-right-radius: 10px;
  border-top-left-radius:10px;   
  pointer-events: none; 
  z-index: 99;
  color: #ed3e61;
  padding-left: 5px;
  font-size: 35px;
  
}

@media (max-width: 767px){
  .error-image-box {    
    height: 210px;
  }
}

@media (max-width: 500px){
  .error-image-box {    
    height: 100%;
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px); 
    border-top-right-radius: 0px;
    border-top-left-radius:0px;    
  }
}

.error-image-box-text{
  position: absolute;
  left:-240px;
  width: 240px;
  height: 100px;
  border-bottom: solid 2px #ed3e61; 
  pointer-events: none; 
  z-index: 99;
  color: #ed3e61;
  padding-right: 2.5px;
  font-size: 16px;
  line-height: 20px;
  
}

@media (max-width: 767px){
  .error-image-box-text{   
    display: none;
  }
}

.error-time-input-box{
  position: absolute;
  left:0;
  top: 350px;
  width: 50%;
  height: 50px;
  border: solid 5px #ed3e61;  
  pointer-events: none;  
  z-index: 3;

  color: #ed3e61;
  padding-left: 2.5px;
  font-size: 34px;
  
}

@media (max-width: 767px){
  .error-time-input-box {    
    top: 210px;
  }
}

@media (max-width: 500px){
  .error-time-input-box {  
    top: auto;     
    bottom: 100px;
  }
}

.error-time-input-box-text{
  position: absolute;
  left:-240px;
  top: 300px;
  width: 240px;
  height: 100px;
  border-bottom: solid 2px #ed3e61;  
  pointer-events: none;  
  padding-right: 2.5px;
  z-index: 3;
  overflow:visible;
  color: #ed3e61;
  font-size: 16px;  
  line-height: 20px;
}

@media (max-width: 767px){
  .error-time-input-box-text{   
    display: none;
  }
}



.error-description-input-box{
  position: absolute;
  right:0;
  top: 350px;
  width: 50%;
  height: 50px;
  border: solid 5px #ed3e61;  
  pointer-events: none;  
  z-index: 3;

  color: #ed3e61;
  padding-left: 2.5px;
  font-size: 34px;
  
}

@media (max-width: 767px){
  .error-description-input-box {    
    top: 210px;
  }
}

@media (max-width: 500px){
  .error-description-input-box {    
    top: auto;     
    bottom: 100px;
  }
}

.error-description-input-box-text{
  position: absolute;
  right:-240px;
  top: 300px;
  width: 240px;
  height: 100px;
  border-bottom: solid 2px #ed3e61;  
  pointer-events: none;  
  z-index: 3;

  color: #ed3e61;
  padding-left: 10px;
  font-size: 16px;
  line-height: 20px;
  
}


@media (max-width: 767px){
  .error-description-input-box-text{   
    display: none;
  }
}


/* >>> glyphicon.glyphicon-remove.box <<<----------------- */

#help-box .glyphicon.glyphicon-remove{
  position: fixed;
  font-size: 20px;
  color: #fff;
  right: 26px; 
  top: 15px; 
}

#help-box .glyphicon.glyphicon-remove:hover{
  color:#fff;
}

@media (max-width: 767px){
  #help-box .glyphicon.glyphicon-remove{
   right: 27px;
  }
}


/* >>>INFO BOX<<<----------------- */

.modal-help-box {
  display:block;
  margin: auto;
  width: 767px;
  top: 50px;  
}

.help-box-illustration img, .help-box-swipe-illustration img{ 
  display:block;
  margin-left:auto; 
  margin-right:auto; 
  width: 100%;
  margin-top: 20px;  
}

.mobile-help-box-illustration img, .mobile-help-box-swipe-illustration img{
  display: none;
}

@media (max-width: 767px){

  .modal-help-box { 
    top: 0px;     
    width: 300px;    
  }
  .mobile-help-box-illustration img, .mobile-help-box-swipe-illustration img{
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    margin-top: 20px;  
  }
  .help-box-illustration img, .help-box-swipe-illustration img{
    display: none;
  }
}


/* >>>CREATE A POST<<<-----------------HELP */

.new-post-help-box{
  position: absolute;
  bottom: 5px;
  left: -40px;
}

@media (max-width: 767px){
  .new-post-help-box{
    left: -35px;
  }
}

@media (max-width:500px){
  .new-post-help-box{
    bottom: 106px;
    left: 50%;
    left: -moz-calc(50% - 15px);
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px); 
    z-index: 99;
  }
}

.new-post-help-box .glyphicon.glyphicon-question-sign{
  color: #34495D;
  font-size: 35px;
}

@media (max-width: 767px){
  .new-post-help-box .glyphicon.glyphicon-question-sign{
   font-size: 30px;
}
}

@media (max-width: 500px){
  .new-post-help-box .glyphicon.glyphicon-question-sign{
   color: #fff;
}
}

.new-post-help-box .glyphicon.glyphicon-question-sign:hover{
  opacity: 0.5;
}

.modal-new-post-help-box{
  top: 25%;
  height: 450px;
  width: 350px;
  background-image: url('../logos/new-post-help.png');
  background-size: 350px 450px ;
  border-radius: 10px;
}

@media (max-width: 767px){
  .modal-new-post-help-box{
    top: 15%;
    height: 305px;
    width: 238px;
    margin-right: auto;
    margin-left: auto;
    background-size: 238px 305px ; 
  }
}

@media (max-width: 500px){
  .modal-new-post-help-box{ 
    top: 30%;       
  }
}



/* >>> Modal <<<----------------- */



.modal-open .modal {
  background: rgba(0,0,0,0.75);
  -moz-filter: blur(5px);
}


@media (max-width: 767px){
  input[type=number] {
      -moz-appearance:textfield;
      -webkit-appearance:textfield;
  }
}



/* >>>ITEM - BILLBOARDS<<< ---------------------------THE BILLBOARD PAGE
 */


/*
.billboards-header{
  position: relative; 
  top: 10px;
  height: 65px;  
 }*/ 

.billboards-header-title{  
  position: fixed;
  /*position: absolute;*/
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50px;  /*desable if not fixed */
  padding-top: 7.5px; /*desable if not fixed */
  width:100%; 
  height: 65px;   /*change if not fixed */
  overflow: hidden;
  background: #EFF5FF;  /*desable if not fixed */  
  background: -moz-linear-gradient(top, rgba(239,245,255,1) 0%, rgba(239,245,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(239,245,255,1) 0%, rgba(239,245,255,0) 100%);
  background: -o-linear-gradient(top, rgba(239,245,255,1) 0%, rgba(239,245,255,0) 100%);
  background: -linear-gradient(top, rgba(239,245,255,1) 0%, rgba(239,245,255,0) 100%);
  z-index: 3;  /*desable if not fixed */
  cursor: default;


}

@media (max-width: 767px){
  .billboards-header  {
  position: relative; 
  top: 0px;
  height: 65px;  
  }
  .billboards-header-title{ 
  position: absolute;
  top: 0px;
  padding-top: 7.5px;
  }
}

.billboards-header-title .title-one  {
  font-size: 35px;
  text-align: center;
  color: #34495D;
  letter-spacing: 6px;  
  line-height: 50px;
  font-family: 'WeelowFont-2';
}

.billboards-header-title .title-two  {
  font-size: 14px;
  text-align: center;
  color: #34495D ;
  letter-spacing: 4px;
  margin-bottom: 0;
}

@media (max-width: 767px){
  .billboards-header-title .title-one  {
   font-size: 20  px;
  }

  .billboards-header-title .title-two  {
   font-size:12px;
  }
}
@media (max-width: 500px){
  .billboards-header-title .title-one  {
   font-size: 18px;
   letter-spacing: 4px;
  }

  .billboards-header-title .title-two  {
   font-size:10px;
   letter-spacing: 2px;
  }
}

.billboards-layout{  
  width: 100%;
  margin-top: 115px;
  /* margin-top: 10px;*/
}

@media (max-width: 767px){
  .billboards-layout{ 
  margin-top: 0px;
  }
}

/* _Billboard.html */

.billboard-item{
  position: relative;  
  margin: 0 auto;
  margin-bottom: 70px; 
  width: 1200px;
  height: 400px;  
}


@media (max-width: 1200px){
  .billboard-item {
    width: 100vw;
    height: 33.3333vh;   
  }
}

@media (max-width: 767px){
  .billboard-item {
      width: 100%;
      margin-bottom: 70px;   
  }
}

.billboard-item-media {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.billboard-item-media:hover{
  
}



.billboard-item-media-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}

.billboard-item-media-post-box{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0;
  letter-spacing: 0;  
}

.post_billboard-post{   
  display: inline-block;
  position: relative;
  text-align: center;
  width: 33.33333334%;  
  height: 100%;
  
  margin: 0;
  padding: 0;
  z-index: 1;
}

.billboard-item-media-bg-color{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;  
  z-index: 2;
  opacity: 0.9;
}

.post_billboard-triangle{
  position: absolute;
  right: 0px;
  border-style: solid;
  border-width: 0 56px 56px 0;
  border-color: transparent  #E9DF0E transparent transparent; 
  z-index: 7;
  opacity: 0.98;
}

.post_billboard-triangle-time p{
  position: absolute;
  width:50px; 
  height:25px;

  top: 13px;
  right: -2.5px;

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=45);
  z-index: 7;

  font-size: 20px;
  line-height: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
  letter-spacing: 0px;
  text-align: center;  
  color: #34495D;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 767px){
  .post_billboard-triangle{
  border-width: 0 46px 46px 0;
  }

  .post_billboard-triangle-time p{
    position: absolute;
    width:50px; 
    height:25px;

    top: 8px;
    right: -7px;

    font-size: 16px;
    line-height: 13px;
   
  }
}

.billboard-item-info{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  left: 0;
  background: #fff;

  /*border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid  1px;
  border-color: #34495D;*/
}

.billboard-item-info:hover{
  background: #34495D;
  -webkit-transition: all .3s ease-in-out; 
  -ms-transition: all .3s ease-in-out; 
  -moz-transition: all .3s ease-in-out; 
  transition: all .3s ease-in-out; 
}

.billboard-item-info p{
  color: #34495D;
  font-size: 25px;
  letter-spacing: 4px
}

.billboard-item-info p:hover{
  color: #fff;
  -webkit-transition: all .3s ease-in-out; 
  -ms-transition: all .3s ease-in-out; 
  -moz-transition: all .3s ease-in-out; 
  transition: all .3s ease-in-out; 
}

@media (max-width: 767px){
  .billboard-item-info p {
    font-size: 18px;
    letter-spacing: 4px 
}
}

@media (max-width: 500px){
    .billboard-item-info p {
      font-size: 15px;
      letter-spacing: 2px;
  }
}



.billboard-item-info-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
 
  
  /*border-bottom: solid 1px #35BB85;*/
}


.billboard-item-info-title p{
    

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center; 
  line-height: 50px;
  padding-left: 10px; 

  
}

/*
.billboard-item-info-title p:before {
  content: "TOP 3 from :  ";
  text-align: left;
}
*/

@media (max-width: 767px){
  .billboard-item-info-title p {
   
    letter-spacing: 2px 
  }
}


.billboard-item-info-title-bg{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
  background-image:url('{{MEDIA_URL}}{{billboard.billboard.thumbnail_image}}')

    /* -- mirror effect on bg --

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  */
}




/* >>BILLBOARD FEEDS<<< --------------------------- */

.billboard-page-box{
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  height: 26.666vw;  
  background-color:#fff;  /* >>change<< -------------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! also for item-------------- */
  background-attachment: fixed;  
  overflow: hidden;

}

@media (max-width: 767px){
  .billboard-page-box{
     margin-bottom: 35px; 
     height: 33.333vw; 
  }
}

.billboard-page-box-cover{
  position: absolute;
  top: 0px;
  width: 80%;
  height: 100%;
 
  /*fixed background*/
  background-attachment: fixed;  
  background-size: 80% auto;
  background-position: left 50px;
  background-repeat: no-repeat;

  -webkit-background-attachment: fixed;  
  -webkit-background-size: 80% auto;
  -webkit-background-position: left 50px;
  -webkit-background-repeat: no-repeat;
}

@media (max-width: 767px){
  .billboard-page-box-cover{
    background-size: 100% auto;
    width: 100%;
    height: 100%;
  }
}

.billboard-page-box-title{
  display: block;
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 80%;
  background-color: rgba(255,255,255,0.9);
  /*border-bottom: solid 1px #35BB85;*/
  font-size: 20px;
  letter-spacing: 1px; 
  z-index: 8; 
  overflow-y:auto; 
}

@media (max-width: 1200px){
  .billboard-page-box-title{
     font-size: 20px;
  }
}

@media (max-width: 767px){
  .billboard-page-box-title{
    display: none;
  }
  .billboard-page-box-title p{
    display: none;
  }
}

.billboard-page-box-title p{
  color: #34495D;     
  vertical-align: top; 
  text-align: left; 
  padding-left: 10px; 
  padding-right: 10px;  
}

.billboard-page-box-title span{
  font-weight: bold;
  font-size: 22px;
}

.billboard-page-box-title-bg{

  height:99%;
  width:100%;
  z-index:7; 
  position:absolute; 
  left:80%; 
  opacity:1; 
  pointer-events: none;
  
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; 
}

@media (max-width: 767px){
  .billboard-page-box-title-bg{
     display: none;
  }
}

/*
.billboard-page-box-title p:before{
  content: "Billboard: ";
  color: #85919d;  
  font-size: 16px;  
}
*/
/*
.billboard-page-box-title-bg{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity:0.1;

  /* -- mirror effect on bg --

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
}
*/

.billboard-page-box-publish{
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 20.5%;
  height: 20.5%;
  background-color: #E9DF0E; /* #35BB85; */
  display:table;
  z-index: 9;
}

@media (max-width: 767px){
  .billboard-page-box-publish{
    display: block;     
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    
  }
}

.billboard-page-box-publish p{
  font-size: 30px;
  color: #34495D;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  letter-spacing: 4px; 

  -webkit-transition: all .1s ease-in-out; 
  -ms-transition: all .1s ease-in-out; 
  -moz-transition: all .1s ease-in-out; 
  transition: all .1s ease-in-out; 
}

@media (max-width: 767px){
  .billboard-page-box-publish p{
    display: block;
    font-size: 25px;
    color: #34495D;    
    letter-spacing: 4px;
    text-align: center;
    line-height: 32px;  
    font-family: 'WeelowFont-1', "Helvetica Neue",Helvetica,Arial,sans-serif ;
    letter-spacing: 3px;  
  }
  .billboard-page-box-publish p:after{
    content: " HERE"
  }
}

@media (max-width: 767px){
  .billboard-page-box-publish{
    display: none;
  }
}

@media (max-width: 767px){
  .billboard-page-box{
     margin-bottom: 0px;      
  }
}

.billboard-page-box-publish:hover{
  background-color: #d1c80c; /*#2a956a;*/
  
}

.billboard-page-box-publish p:hover{
  
  letter-spacing: 5px; 
}

.billboard-page-box-signature{
  position: absolute;    
  left:0;
  bottom: 0;
}   

.billboard-page-box-signature p{

  padding-left: 10px;
  color: #fff;
  font-style: italic;
  font-size: 10px;

}  

@media (max-width: 767px){
  .billboard-page-box-signature p{    
    padding-left: 5px;
       
    font-size: 8px;      
  }
} 

/* >>MOBILE BILLBOARD FEEDS<<< --------------------------- */


.mobile-billboard-page-box-title-btn{
  display: none;
}

@media (max-width: 767px){
   .mobile-billboard-page-box-title-btn{
    display: block;
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0.5
  }
}

.mobile-billboard-page-box-title-btn .glyphicon.glyphicon-minus , .mobile-billboard-page-box-title-btn .glyphicon.glyphicon-plus{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10px;
  color: #34495D;
  font-size: 35px;
}

 .mobile-billboard-page-box-title{
  display: none;
 }

@media (max-width: 767px){
  .mobile-billboard-page-box-title{
    display: block;
    position: absolute;
    width: 100%;
    width: -moz-calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    top: 0;    
    height: 100%;
    background-color: rgba(255,255,255,0.95);
    overflow-y: auto;    
}    
}

/*
.mobile-billboard-page-box-title p:before{
  content: "Billboard: ";
  color: #85919d;  
  font-size: 12px;   
}
*/

@media (max-width: 767px){
  .mobile-billboard-page-box-title p{
    
    color: #34495D;     
    text-align: left; 
    padding: 10px;  
    font-size: 20px;
  }
}

@media (max-width: 500px){
.mobile-billboard-page-box-title p{
   font-size: 16px;
}
}

.mobile-billboard-page-box-title span{
  font-weight: bold;
}



/* >>VIDEO BACKGROUND<<< --------------------.billboard-media------- */

.billboard-item-media-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;    
  overflow: hidden;   
}


.billboard-item-media-video video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container.*/
    min-width: 100.5%;
    min-height: 100.5%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

 @media (max-width: 767px){
.billboard-item-media-video video{
  width: 100%;
  height: auto; 
}
}

/* >>GIF BACKGROUND<<< --------------------.billboard-media------- */

.billboard-item-media-gif {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;    
  overflow: hidden;   
}

.billboard-item-media-gif img {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

 @media (max-width: 767px){
  .billboard-item-media-gif img{
    width: 100%;
    height: auto; 
  }
}

.billboard-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url('../logos/loading-bg-100px.png');
  background-size: auto;
  
 }

 @media (max-width: 767px){
  .billboard-loader{
  }
}

.help-on-swipe-right p{display: none;}

 @media (max-width: 500px){

  .help-on-swipe-right {
    
    position: fixed;  
    left: 0;
    margin-top: 10px;
    width: 50px;
    height: 240px;
  }

  .help-on-swipe-right p{  
   display: block;
   position: absolute;
   width: 240px;
   height: 50px;
   text-align: center;
   left: -95px;
   top:95px;
   line-height: 50px;

   font-size: 25px;
   font-family: 'WeelowFont-2', "Helvetica Neue",Helvetica,Arial,sans-serif ;
   color:#293a4a; 
   letter-spacing: 0px;

   
   -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);    
  }
}

.squares img{  
  display: inline-block;
  width: 33.333%;
  height: auto;
  float: left;
  opacity: 0.8;
}

/*
.grid-sizer {
  width:  100%;
}
*/